<app-breadcrumbs></app-breadcrumbs>
<div class="bg-primary-950 h-14 px-2 flex items-center w-full sticky top-8 border-b border-primary-700 z-50">
  <button appBaseButton class="rounded">
    <div class="flex flex-col items-center gap-1 px-2 py-1">
      <span class="font-symbols icon-5 text-primary-50">refresh</span>
      <span class="text-sm/none font-light text-primary-200 line-clamp-1 max-w-12">Refresh</span>
    </div>
  </button>
</div>
<div class="w-full max-w-screen-lg p-4 grid grid-cols-2 gap-x-6 gap-y-4">
  <a class="bg-primary-600 rounded-lg flex flex-col px-4 py-2" appBaseButton>
    <span class="text-xl text-primary-50">Daily Transaction</span>
    <span class="text-5xl font-bold"><span class="text-4xl font-medium">USD</span> 56.7<span class="text-4xl font-medium">mil</span></span>
  </a>
  <a class="bg-primary-700 rounded-lg flex flex-col px-4 py-2" appBaseButton>
    <span class="text-xl text-primary-50">Market Volume</span>
    <div class="flex items-center gap-2 text-green-600">
      <span class="font-symbols icon-10">trending_up</span>
      <span class="text-5xl font-bold">34.2<span class="text-4xl font-medium">%</span></span>
    </div>
  </a>
</div>
<cdk-table
  class="grid-cols-4"
  appBaseTable
  [dataSource]="dataSource"
  [trackBy]="trackingFn"
>
  <ng-container cdkColumnDef="companyName">
    <cdk-header-cell *cdkHeaderCellDef>Company</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">
      <span class="line-clamp-1">{{
        row.companyName
      }}</span>
    </cdk-cell>
  </ng-container>

  <ng-container cdkColumnDef="transactionAmount">
    <cdk-header-cell *cdkHeaderCellDef>Transaction Amount</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row" flush>
      @if (row.transactionAmount > 0) {
        <span class="text-green-600 font-bold flex items-center gap-2 w-full">
          <span class="font-symbols icon-4">trending_up</span>
          <span class="w-[7ch] text-end">{{ row.transactionAmount }}%</span>
          <div class="grow"><div class="bg-current h-1 rounded-full" [style.width.%]="row.transactionAmount"></div></div>
        </span>
      } @else if (row.transactionAmount < 0) {
        <span class="text-red-600 font-bold flex items-center gap-2 w-full">
          <span class="font-symbols icon-4">trending_down</span>
          <span class="w-[7ch] text-end">{{ row.transactionAmount }}%</span>
          <div class="grow"><div class="bg-current h-1 rounded-full" [style.width.%]="row.transactionAmount * -1"></div></div>
        </span>
      } @else  {
        <span class="text-blue-600 font-bold flex items-center gap-2">
          <span class="font-symbols icon-4">trending_flat</span>
          <span class="w-[7ch] text-end">{{ row.transactionAmount }}%</span>
        </span>
      }
    </cdk-cell>
  </ng-container>

  <ng-container cdkColumnDef="transactionBy">
    <cdk-header-cell *cdkHeaderCellDef>User</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row">{{
      row.transactionBy
    }}</cdk-cell>
  </ng-container>

  <ng-container cdkColumnDef="timestamp">
    <cdk-header-cell *cdkHeaderCellDef class="justify-end">Time</cdk-header-cell>
    <cdk-cell *cdkCellDef="let row" class="justify-end">
      <span class="line-clamp-1">{{
        row.timestamp | date: 'short'
      }}</span>
    </cdk-cell>
  </ng-container>

  <cdk-header-row *cdkHeaderRowDef="columnsToDisplay" class="sticky top-22 z-50"></cdk-header-row>
  <a appBaseButton *cdkRowDef="let row; columns: columnsToDisplay">
    <cdk-row></cdk-row>
  </a>
</cdk-table>