<div class="flex flex-col border-b">
  <button
    class="px-4 py-2 flex justify-start gap-2 text-primary-800 dark:text-primary-200"
    coreHoverable
    (click)="toggleState()"
  >
    <i class="icon-5">add</i>
    <p>Insert New</p>
  </button>
  @if (expanded) {
    <div class="overflow-hidden flex flex-col gap-2 px-3 py-2">
      <core-form-fieldset>
        @for (field of fields; track field.id) {
          <core-form-field>
            <span *coreFormFieldLabel>{{ field.label }}</span>
            <input *coreFormFieldInput>
          </core-form-field>
        }
      </core-form-fieldset>
      <div class="flex justify-end">
        <button class="px-3 py-1 rounded-full" coreHardSurface color="primary">Add</button>
      </div>
    </div>
  }
</div>