<pui-root-sidenav>
  <div class="pui-root-sidenav__header__logo flex flex-row-reverse lg:flex-row items-center gap-3">
    <div class="flex-none size-10 bg-linear-to-br from-primary-600/70 from-20% to-accent-500/70 rounded-full p-2 isolate">
      <i class="icon-6 font-variation-weight-light mix-blend-overlay">identity_platform</i>
    </div>
    <h3 class="pt-0">Portal UI Demo</h3>
  </div>

  <div class="pui-root-sidenav__nav">
    <nav
      class="grid grid-cols-4 gap-4 p-4 flex-none"
    >
      <button puiBorderedButton color="primary" class="rounded-2 p-2 max-h-16 w-full aspect-square" puiTooltip="Home">
        <i class="icon-6 font-variation-weight-light">home</i>
      </button>
      <button puiBorderedButton color="primary" class="rounded-2 p-2 max-h-16 w-full aspect-square" puiTooltip="Dashboard">
        <i class="icon-6 font-variation-weight-light">dashboard</i>
      </button>
      <button puiBorderedButton color="primary" class="rounded-2 p-2 max-h-16 w-full aspect-square" puiTooltip="Sales">
        <i class="icon-6 font-variation-weight-light">point_of_sale</i>
      </button>
      <button puiBorderedButton color="primary" class="rounded-2 p-2 max-h-16 w-full aspect-square" puiTooltip="Settings">
        <i class="icon-6 font-variation-weight-light">settings</i>
      </button>
    </nav>
    <pui-divider></pui-divider>
    <pui-vertical-navigation-menu class="overflow-auto">
      <pui-menu-item
        label="Home"
        icon="home"
        [route]="['/']"
        [activeOptions]="{ exact: true }"
      ></pui-menu-item>
      <pui-menu-item
        label="Media Manager"
        [route]="['/media']"
        icon="folder"
      ></pui-menu-item>
      <pui-menu-divider></pui-menu-divider>
      <pui-menu-item
        label="Dashboard"
        [route]="['/monitoring']"
        icon="analytics"
        disabled
      ></pui-menu-item>
      <pui-menu-group
        label="Sales"
        icon="point_of_sale"
        disabled
      >
        <pui-menu-item label="Orders" [route]="['/sales', 'order']"></pui-menu-item>
        <pui-menu-item label="Payments" [route]="['/sales', 'payment']"></pui-menu-item>
        <pui-menu-divider></pui-menu-divider>
        <pui-menu-item label="Reports" icon="monitoring" [route]="['/sales', 'report']"></pui-menu-item>
      </pui-menu-group>
      <pui-menu-group
        label="Inventory"
        icon="trolley"
        [isAlwaysExpanded]="true"
      >
        <pui-menu-item label="Items" [route]="['/inventory', 'item']"></pui-menu-item>
        <pui-menu-item label="Shelves" [route]="['/inventory', 'shelf']"></pui-menu-item>
      </pui-menu-group>
      <pui-menu-group
        label="Users"
        icon="group"
      >
        <pui-menu-item label="Customers" [route]="['/user', 'customer']"></pui-menu-item>
        <pui-menu-item label="Employees" [route]="['/user', 'employee']"></pui-menu-item>
        <pui-menu-divider></pui-menu-divider>
        <pui-menu-item label="Access Control" [route]="['/user', 'access-control']"></pui-menu-item>
        <pui-menu-item label="Employee Calendar" [route]="['/user', 'employee-calendar']"></pui-menu-item>
        <pui-menu-item label="Salary" [route]="['/user', 'salary']"></pui-menu-item>
      </pui-menu-group>
      <pui-menu-item
        label="Logs"
        [route]="['/log', 'system-log']"
      ></pui-menu-item>
      <pui-menu-item
        label="Settings"
        [route]="['/settings']"
        disabled
      ></pui-menu-item>
      <pui-menu-divider></pui-menu-divider>
      <pui-menu-item
        label="Documentation"
        [route]="['/documentation']"
        icon="integration_instructions"
        disabled
      ></pui-menu-item>
      <pui-menu-group
        label="Components"
      >
        <pui-menu-item label="Loading Panel" [route]="['/docs', 'loading-panel']"></pui-menu-item>
        <pui-menu-item label="Modal & Dialog" [route]="['/docs', 'modal-dialog']"></pui-menu-item>
        <pui-menu-item label="Root Sidenav" [route]="['/docs', 'root-sidenav']"></pui-menu-item>
        <pui-menu-item label="Snackbar" [route]="['/docs', 'snackbar']"></pui-menu-item>
      </pui-menu-group>
      <pui-menu-group
        label="Angular Schematics"
      >
        <pui-menu-item label="CRUD" [route]="['/docs', 'crud-schematics']"></pui-menu-item>
      </pui-menu-group>
    </pui-vertical-navigation-menu>
  </div>
</pui-root-sidenav>
