<div class="sticky lg:hidden top-0 w-full h-20 bg-gradient-to-b from-primary-900 to-primary-800 z-0 flex items-center px-6 pb-4">
  <button
    puiBaseButton
    class="rounded-1 p-1"
    (click)="isNavVisible.set(!isNavVisible())"
  >
    <i class="icon-6">menu</i>
  </button>
  <div class="spacer"></div>
  <div class="flex items-center gap-3">
    <h3 class="pt-0">Portal UI Demo</h3>
    <div class="flex-none size-10 bg-gradient-to-br from-primary-600/70 from-20% to-accent-500/70 rounded-full p-2 isolate">
      <i class="icon-6 font-variation-weight-light mix-blend-overlay">identity_platform</i>
    </div>
  </div>
</div>
<div
  class="absolute inset-0 lg:hidden transition z-100"
  [ngClass]="{
    'dark:bg-black/25 backdrop-blur-lg': isNavVisible(),
    'pointer-events-none': !isNavVisible()
  }"
  (click)="isNavVisible.set(false)"
></div>
<div
  class="w-full lg:w-80 fixed top-20 lg:left-8 lg:top-8 bottom-8 max-lg:px-4 flex flex-col gap-6 overflow-hidden transition-all z-100"
  [ngClass]="{
    'max-lg:translate-x-0': isNavVisible(),
    'max-lg:-translate-x-full': !isNavVisible(),
  }"
>
  <div class="hidden lg:flex items-center gap-4 px-2">
    <div class="flex-none size-12 bg-gradient-to-br from-primary-600/70 from-20% to-accent-500/70 rounded-full p-2 isolate">
      <i class="icon-8 mix-blend-overlay">identity_platform</i>
    </div>
    <h3 class="pt-0">Portal UI Demo</h3>
  </div>
  <div class="pui-card rounded-4 w-full grow flex flex-col overflow-hidden">
    <nav
      class="grid grid-cols-4 gap-4 p-4 flex-none"
    >
      <button puiBorderedButton color="primary" class="rounded-2 p-2 aspect-square" puiTooltip="Home">
        <i class="icon-6 font-variation-weight-light">home</i>
      </button>
      <button puiBorderedButton color="primary" class="rounded-2 p-2 aspect-square" puiTooltip="Dashboard">
        <i class="icon-6 font-variation-weight-light">dashboard</i>
      </button>
      <button puiBorderedButton color="primary" class="rounded-2 p-2 aspect-square" puiTooltip="Sales">
        <i class="icon-6 font-variation-weight-light">point_of_sale</i>
      </button>
      <button puiBorderedButton color="primary" class="rounded-2 p-2 aspect-square" puiTooltip="Settings">
        <i class="icon-6 font-variation-weight-light">settings</i>
      </button>
    </nav>
    <pui-divider></pui-divider>
    <pui-vertical-navigation-menu class="overflow-auto">
      <pui-menu-item
        label="Home"
        icon="home"
        [route]="['/']"
        [activeOptions]="{ exact: true }"
      ></pui-menu-item>
      <!-- <pui-menu-item
        label="Dashboard"
        [route]="['/dashboard']"
      ></pui-menu-item>
      <pui-menu-item
        label="Real-time Monitoring"
        [route]="['/monitoring']"
      ></pui-menu-item> -->
      <!-- <pui-menu-group
        label="Sales"
        icon="point_of_sale"
      >
        <pui-menu-item label="Orders" [route]="['/sales', 'order']"></pui-menu-item>
        <pui-menu-item label="Payments" [route]="['/sales', 'payment']"></pui-menu-item>
        <pui-menu-divider></pui-menu-divider>
        <pui-menu-item label="Reports" icon="monitoring" [route]="['/sales', 'report']"></pui-menu-item>
      </pui-menu-group> -->
      <pui-menu-group
        label="Inventory"
        icon="trolley"
      >
        <pui-menu-item label="Items" [route]="['/inventory', 'item']"></pui-menu-item>
        <pui-menu-item label="Shelves" [route]="['/inventory', 'shelf']"></pui-menu-item>
      </pui-menu-group>
      <pui-menu-group
        label="Users"
        icon="group"
      >
        <pui-menu-item label="Customers" [route]="['/user', 'customer']"></pui-menu-item>
        <pui-menu-item label="Employees" [route]="['/user', 'employee']"></pui-menu-item>
        <pui-menu-divider></pui-menu-divider>
        <pui-menu-item label="Access Control" [route]="['/user', 'access-control']"></pui-menu-item>
        <pui-menu-item label="Employee Calendar" [route]="['/user', 'employee-calendar']"></pui-menu-item>
      </pui-menu-group>
      <pui-menu-item
        label="Logs"
        [route]="['/log', 'system-log']"
      ></pui-menu-item>
      <!-- <pui-menu-item
        label="Settings"
        [route]="['/settings']"
      ></pui-menu-item> -->
      <pui-menu-divider></pui-menu-divider>
      <pui-menu-item
        label="Documentation"
        [route]="['/documentation']"
        icon="integration_instructions"
      ></pui-menu-item>
    </pui-vertical-navigation-menu>
  </div>
</div>
<div class="px-4 lg:ml-88 lg:px-8 min-h-full h-full max-lg:rounded-t-4 max-lg:-mt-4 max-lg:bg-neutral-900 max-lg:z-10 max-lg:relative max-lg:shadow-[0_-4px_3px_rgb(0_0_0_/_0.1)]">
  <router-outlet></router-outlet>
</div>
