<div class="flex flex-row gap-8 grow">
  <div class="pui-card rounded-4 basis-80 shrink-0 grow-0 p-4 h-fit max-h-[calc(100svh-8.5rem)] overflow-y-auto sticky top-26">
    <div class="flex flex-col gap-4">
      @for (addr of data(); track $index) {
        <a
          [routerLink]="['./', $index]"
          routerLinkActive
          #active="routerLinkActive"
          class="rounded-3 pui-card--subtle border p-4 text-start justify-start"
          [ngClass]="{ 'border-primary-300 dark:border-primary-700 bg-hover dark:bg-hover-dark': active.isActive }"
          puiHoverable
        >
          <div class="flex flex-col">
            <span class="text-base truncate">
              {{ addr.line1 }}
            </span>
            <span class="text-base truncate">
              {{ addr.line2 }}
            </span>
            <span class="text-sm truncate font-medium text-neutral-800 dark:text-neutral-200">{{ addr.city }}, {{ addr.state }}</span>
          </div>
        </a>
      }
    </div>
  </div>
  <router-outlet></router-outlet>
</div>