<core-sectioned-outlet>
  <div
    coreSidebarContainer
  >
    <div coreSidebarBreadcrumbs>
      <core-breadcrumbs></core-breadcrumbs>
    </div>
    <core-sidebar-content>
      <div
        *coreSidebarMain
        coreTabBarContainer
        class="flex flex-col gap-4 pe-6 py-6"
      >
        <core-tab-bar-header>
          <span>Database</span>
        </core-tab-bar-header>
        <app-settings-database></app-settings-database>
      </div>
    </core-sidebar-content>
  </div>
</core-sectioned-outlet>