<pui-layered-container>
  <div puiSidebarContainer>
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content class="max-w-screen-3xl">
      <div *puiSidebarMain class="flex flex-col gap-4 py-6 px-8">
        <h1 class="text-primary-700 dark:text-primary-300">TO-DO</h1>
        <div class="flex">
          <pui-segmented-options class="grow" color="primary" [value]="filter()" (valueChange)="filter.set($event)">
            <div *puiOption="'incomplete'" class="flex items-center gap-0.5 py-0.5">
              <i class="icon-4">timelapse</i>
              Incomplete
            </div>
            <div *puiOption="'all'" class="flex items-center gap-0.5 py-0.5">
              <i class="icon-4">done_all</i>
              All
            </div>
          </pui-segmented-options>
          <div class="grow"></div>
        </div>
        <pui-divider></pui-divider>
        <div class="grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); grid-template-rows: masonry;">
          @for (todo of list(); track todo.id) {
            <demo-todo-card [todo]="todo"></demo-todo-card>
          }
        </div>
      </div>
      <pui-accordion>
        <demo-drawer-add *puiSidebarDrawer></demo-drawer-add>
      </pui-accordion>
    </pui-sidebar-content>
  </div>
</pui-layered-container>