<div puiSidebarDrawerSection [class.bg-drawer-content]="trigger.isOpened()">
  <button puiSidebarDrawerSectionHeader puiAccordionTrigger puiHoverable #trigger="accordionTrigger" opened>
    <i>add</i> New List
  </button>
  @if (trigger.isOpened()) {
    <form puiSidebarDrawerSectionContent (ngSubmit)="onSubmit()">
      <pui-fieldset [formControl]="formControl">
        <pui-field-def
          key="title"
          fieldType="string"
          label="To-Do Name"
        ></pui-field-def>
        <pui-field-def
          key="label"
          fieldType="string"
          label="Label"
        ></pui-field-def>
      </pui-fieldset>
      <button class="rounded-1 mx-1 py-2 text-sm text-primary-700 dark:text-primary-500" puiHoverable type="submit">Add</button>
    </form>
  }
</div>