<main class="@container grow">
  <div class="grid @screen-md/layout:grid-cols-[1fr,480px] gap-8">
    <div class="pui-card rounded-4 p-4 @screen-md/layout:col-span-2">
      <div class="flex flex-row items-center justify-between">
        <div>
          <div class="flex flex-row gap-2 items-center" puiTooltip="Errors">
            <div class="dark:bg-red-700/50 rounded-full p-2 flex items-center justify-center">
              <i class="icon-6 font-variation-fill font-variation-weight-bold dark:text-red-200">error</i>
            </div>
            <div class="flex flex-col">
              <span class="text-md font-bold">5</span>
              <span class="text-sm font-light text-neutral-700 dark:text-neutral-300">~1.3 per day</span>
            </div>
          </div>
        </div>
        <div>
          6 Oct 2024 -> 14 Oct 2024
        </div>
      </div>
    </div>
    <div class="pui-card rounded-4 overflow-hidden">
      <h1>Errors Chart</h1>
    </div>
    <div class="pui-card rounded-4 overflow-hidden p-8">
      <h1>Errors Chart</h1>
    </div>
    <div class="pui-card rounded-4 p-8">
      <h1>Errors List</h1>
      <p>Table</p>
    </div>
  </div>
</main>