<main class="@container grow">
  <div class="grid @screen-lg/layout:grid-cols-[1fr_480px] gap-8">
    <div class="pui-card rounded-4 p-4 @screen-lg/layout:col-span-2">
      <div class="flex flex-col @screen-md:flex-row @screen-md:items-center justify-between gap-y-4">
        <div class="flex items-center gap-4">
          <div class="flex flex-row gap-2 items-center" puiTooltip="Errors">
            <div class="dark:bg-red-700/50 rounded-full p-2 flex items-center justify-center">
              <i class="icon-6 font-variation-fill font-variation-weight-bold dark:text-red-200">error</i>
            </div>
            <div class="flex flex-col">
              <span class="text-md font-bold">{{ errors()?.length ?? '--' }}</span>
              <span class="text-sm font-light text-neutral-700 dark:text-neutral-300">~{{ avgErrorRate() | number: '1.1-1' }} per day</span>
            </div>
          </div>
          <div class="flex flex-row gap-2 items-center" puiTooltip="Warnings">
            <div class="dark:bg-yellow-700/50 rounded-full p-2 flex items-center justify-center">
              <i class="icon-6 font-variation-fill font-variation-weight-bold dark:text-yellow-200">warning</i>
            </div>
            <div class="flex flex-col">
              <span class="text-md font-bold">{{ warnings()?.length ?? '--' }}</span>
              <span class="text-sm font-light text-neutral-700 dark:text-neutral-300">~{{ avgWarningRate() | number: '1.1-1' }} per day</span>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-1 font-medium text-base">
            <i class="icon-5 mb-0.5">event</i>
            <pui-time-display [date]="startDate()" format="d MMM yyyy"></pui-time-display>
            <i class="icon-4 mb-0.5">arrow_right_alt</i>
            <pui-time-display [date]="endDate()" format="d MMM yyyy"></pui-time-display>
          </div>
          <button puiBorderedButton color="accent" class="p-2 rounded-full">
            <i class="icon-5">tune</i>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8 overflow-hidden">
      <demo-system-log-chart
        [startDate]="startDate()"
        [endDate]="endDate()"
        [errors]="errors() ?? []"
        [warns]="warnings() ?? []"
        [infos]="infos() ?? []"
        [debugs]="debugs() ?? []"
      ></demo-system-log-chart>
      <demo-system-log-errors [errors]="errors() ?? []"></demo-system-log-errors>
      <pui-divider></pui-divider>
      <h2>Export</h2>
      <demo-system-log-export [startDate]="startDate()" [endDate]="endDate()"></demo-system-log-export>
    </div>
    <div class="hidden @screen-lg:flex flex-col gap-8">
      <demo-system-log-calendar [startDate]="startDate()" [endDate]="endDate()"></demo-system-log-calendar>
      <demo-system-log-systems [startDate]="startDate()" [endDate]="endDate()" [systemLogs]="filteredData() ?? []"></demo-system-log-systems>
    </div>
  </div>
</main>