<div
  class="sticky top-0 bg-primary-950 border-b border-primary-700 h-8 text-primary-50 view-transition-[breadcrumbs] z-50"
>
  <div class="flex items-center h-full">
    @for (breadcrumb of breadcrumbs$ | async; track breadcrumb.id; let isLast = $last) {
    <a
      appBaseButton
      [routerLink]="['./']"
      [relativeTo]="breadcrumb.route"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
      #active="routerLinkActive"
      [ngClass]="{
        'font-medium': active.isActive
      }"
      class="h-full flex items-center px-2 text-sm/none font-light"
      >{{ breadcrumb.title }}</a
    >
    @if (!isLast) {
    <i class="material-icons icon-4">chevron_right</i>
    } }
  </div>
</div>
