<pui-layered-container>
  <div
    puiSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content>
      <div *puiSidebarMain class="flex flex-col gap-4 pt-4">
        <div class="grid grid-cols-[min-content,1fr] gap-x-4 px-2">
          @if (data$ | async; as data) {
            @for (effect of data.effects; track effect.requiredNumberOfParts) {
              <a
                [routerLink]="['skill', effect.skillId]"
                puiHoverable
                class="grid grid-cols-subgrid col-span-2 -mx-4 px-4 py-3 border-b last:border-b-0">
                <!-- <mhw-set-bonus-effect [setBonusEffect]="effect"></mhw-set-bonus-effect> -->
              </a>
            }
          }
        </div>
      </div>
    </pui-sidebar-content>
  </div>
</pui-layered-container>