<div pheadSidebarDrawerSection [class.bg-drawer-content]="trigger.isOpened$$()">
  <button
    pheadSidebarDrawerSectionHeader
    pheadHoverable
    role="button"
    type="button"
    pheadAccordionTrigger
    #trigger="accordionTrigger"
    [ngClass]="{ '!text-primary-950 dark:!text-primary-50': !trigger.isOpened$$() }"
    opened
  >
    <i>add</i>
    <p>Insert New</p>
  </button>
  @if (trigger.isOpened$$()) {
    <form pheadSidebarDrawerSectionContent (ngSubmit)="onSubmit()">
      <phead-fieldset pheadSidebarDrawerSectionContent [formControl]="formControl">
        <phead-field-def
          key="name>en"
          label="English Name"
          fieldType="string"
        ></phead-field-def>
        <phead-field-def
          key="name>jp"
          label="Japanese Name"
          fieldType="string"
        ></phead-field-def>
        <phead-field-def
          key="position"
          label="Position"
          fieldType="string"
          [fieldConfig]="{
            enum: armorPosition
          }"
        ></phead-field-def>
        <phead-field-def
          key="armorSetId"
          label="Armor Set"
          fieldType="string"
          [templateRef]="armorSetIdInput"
        >
        </phead-field-def>
      </phead-fieldset>
      <button class="rounded-1 mx-1 py-2 text-sm text-primary-700 dark:text-primary-500" pheadHoverable role="button" type="submit">Add</button>
    </form>
  }
</div>

<ng-template #armorSetIdInput let-key="key" let-formGroup="formGroup">
  <ng-container [formGroup]="formGroup">
    <div pheadDropdownTrigger>{{ key }} </div>
  </ng-container>
</ng-template>