<div puiSidebarDrawerSection [class.bg-drawer-content]="trigger.isOpened$$()">
  <button
    puiSidebarDrawerSectionHeader
    puiHoverable
    role="button"
    type="button"
    puiAccordionTrigger
    #trigger="accordionTrigger"
    [ngClass]="{ '!text-primary-950 dark:!text-primary-50': !trigger.isOpened$$() }"
    opened
  >
    <i>add</i>
    <p>Insert New</p>
  </button>
  @if (trigger.isOpened$$()) {
    <form puiSidebarDrawerSectionContent (ngSubmit)="onSubmit()">
      <pui-fieldset [formControl]="formControl">
        <pui-field-def
          key="name>en"
          label="English Name"
          fieldType="string"
        ></pui-field-def>
        <pui-field-def
          key="name>jp"
          label="Japanese Name"
          fieldType="string"
        ></pui-field-def>
        <pui-field-def
          key="position"
          label="Position"
          fieldType="string"
          [fieldConfig]="{
            enum: armorPosition
          }"
        ></pui-field-def>
        <pui-field-def
          key="armorSetId"
          label="Armor Set"
          fieldType="string"
          [templateRef]="armorSetIdInput"
        >
        </pui-field-def>
      </pui-fieldset>
      <button class="rounded-1 mx-1 py-2 text-sm text-primary-700 dark:text-primary-500" puiHoverable role="button" type="submit">Add</button>
    </form>
  }
</div>

<ng-template #armorSetIdInput let-key="key" let-formGroup="formGroup" let-valueUpdated$="valueUpdated$">
  <ng-container [formGroup]="formGroup">
    <pui-dropdown [formControlName]="key" (valueChange)="valueUpdated$.next()">
      <div *puiDropdownTrigger="let value">{{ value }}</div>
      <pui-search-dropdown *puiDropdownOverlay>
        <demo-armor-set-search></demo-armor-set-search>
      </pui-search-dropdown>
    </pui-dropdown>
  </ng-container>
</ng-template>