<form
  class="size-full relative flex flex-col overflow-x-hidden overflow-y-auto gutter-stable"
  cdkVirtualScrollingElement
  cdkScrollable
  (submit)="onSave()"
>
  <div class="bg-deep-glass grow p-2">
    <div class="flex flex-col">
      <core-simple-header coreStickyHeader color="accent">
        <h2 *coreHeader>Edit</h2>
      </core-simple-header>
      <div class="flex flex-col gap-4 pt-4" [formGroup]="formGroup">
        <span class="px-4 pt-2 font-display font-light text-accent-200 tracking-wider">Defense</span>
        <core-form-fieldset>
          <core-form-field>
            <div *coreFormFieldLabel>Name</div>
            <core-multilingual-text-edit *coreFormFieldInput formControlName="name"></core-multilingual-text-edit>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel>Color</div>
            <core-color-edit *coreFormFieldInput formControlName="color" class="pe-2"></core-color-edit>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel>Description</div>
            <core-multilingual-text-edit *coreFormFieldInput formControlName="description"></core-multilingual-text-edit>
          </core-form-field>
        </core-form-fieldset>
      </div>
    </div>
  </div>
  <core-form-submit
    [dirty]="true"
    [disabled]="formGroup.disabled || formGroup.invalid"
    (saveClick)="onSave()"
    (cancelClick)="onCancel()"
  ></core-form-submit>
</form>