<div class="@container grow flex flex-col">
  <main class="light-glass-bg rounded-4 h-full grow overflow-hidden flex flex-col">
    <div class="rounded-t-4 px-8 pt-6 pb-12 bg-gradient-to-br from-primary-800/20 to-primary-900/20">
      <span class="text-xl font-display">{{ selectedTime() | date: 'MMMM yyyy' }}</span>
    </div>
    <div class="grow -mt-6 bg-neutral-800 rounded-t-4 border-t grid grid-cols-7 grid-rows-[min-content_repeat(5,1fr)]">
      <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none dark:text-red-400 border-r">Sun</div>
      <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none border-r">Mon</div>
      <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none border-r">Tue</div>
      <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none border-r">Wed</div>
      <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none border-r">Thu</div>
      <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none border-r">Fri</div>
      <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none dark:text-red-400">Sat</div>
      @for (visibleDay of daysVisible(); track $index) {
        <div
          puiHoverable
          class="flex flex-col items-center justify-start"
          [ngClass]="{
            'border-b': $index < 28,
            'border-r': ($index % 7) != 6
          }"
        >
          <span
            class="mt-2 text-base/none relative z-0"
            [ngClass]="{
              'dark:text-neutral-300': (visibleDay.isLastMonth || visibleDay.isNextMonth) && !visibleDay.isToday,
              'font-bold': !visibleDay.isLastMonth && !visibleDay.isNextMonth,
              'text-white before:rounded-full before:-top-1 before:-bottom-0.5 before:-left-3 before:-right-3 before:absolute before:-z-10 before:bg-primary-700': visibleDay.isToday,
            }"
          >{{ visibleDay.date | date: (visibleDay.isStartOfMonth ? 'MMM dd' : 'dd') }}</span>
        </div>
      }
    </div>
  </main>
</div>

<pui-layout-control
  id="lastMonth"
  label="Last month"
  mode="low-emphasis"
  icon="arrow_back"
  [weight]="-100"
></pui-layout-control>
<pui-layout-control
  id="today"
  label="Today"
  mode="auto"
  icon="today"
  [weight]="0"
></pui-layout-control>
<pui-layout-control
  id="nextMonth"
  label="Next month"
  mode="low-emphasis"
  icon="arrow_forward"
  [weight]="100"
></pui-layout-control>