<div class="@container grow flex flex-col">
  <main class="pui-card rounded-4 h-full grow overflow-hidden flex flex-col">
    <div class="rounded-t-4 px-8 pt-6 pb-12 bg-linear-to-br from-primary-800/20 to-primary-900/20">
      <span class="text-xl font-display">{{ selectedTime() | date: 'MMMM yyyy' }}</span>
    </div>
    <div class="grow -mt-6 bg-neutral-800 rounded-t-4 border-t grid grid-cols-7" [ngClass]="{ 'grid-rows-[min-content_repeat(6,1fr)]': daysWithData().length > 35, 'grid-rows-[min-content_repeat(5,1fr)]': daysWithData().length <= 35 }">
      @for (visibleDay of daysWithData() | slice: 0: 7; track $index) {
        <div class="text-center pt-2 pb-1 uppercase font-bold text-base/none" [ngClass]="{ 'border-r': !$last, 'dark:text-red-400': visibleDay.isWeekend }">{{ visibleDay.date | date: 'EE' }}</div>
      }
      @for (visibleDay of daysWithData(); track $index) {
        <div
          puiHoverable
          class="flex flex-col items-center justify-start gap-1.5 relative min-h-32"
          [ngClass]="{
            'border-b': $index < $count - 7,
            'border-r': ($index % 7) != 6
          }"
        >
          <span
            class="mt-2 text-[36px]/none @screen-md:text-[48px]/none @screen-xl:text-[64px]/none @screen-2xl:text-[78px]/none text-end absolute z-0 -bottom-2 -right-1 whitespace-nowrap font-display pointer-events-none select-none"
            [ngClass]="{
              'dark:text-neutral-400': (visibleDay.isLastMonth || visibleDay.isNextMonth) && !visibleDay.isToday,
              'font-black opacity-20': !visibleDay.isLastMonth && !visibleDay.isNextMonth,
              'font-medium opacity-10': visibleDay.isLastMonth || visibleDay.isNextMonth,
              'dark:text-primary-50 before:rounded-full before:-top-2 before:-bottom-2 before:-left-6 before:-right-6 before:absolute before:-z-10 before:bg-primary-700': visibleDay.isToday,
              'dark:text-red-400': visibleDay.isWeekend,
            }"
          >
            @if (visibleDay.isStartOfMonth) {
              <span class="text-[24px]/none @screen-md:text-[32px]/none @screen-xl:text-[40px]/none @screen-2xl:text-[54px]/none">{{ visibleDay.date | date: 'MMM' }}</span>
              <br/>
            }
            <span>{{ visibleDay.date | date: 'dd' }}</span>
          </span>
          <demo-calendar-events [events]="visibleDay.events"></demo-calendar-events>
        </div>
      }
    </div>
  </main>
</div>

<pui-layout-control
  id="lastMonth"
  label="Last month"
  mode="low-emphasis"
  icon="arrow_back"
  [weight]="-100"
  (click)="onLastMonthClick()"
></pui-layout-control>
<pui-layout-control
  id="today"
  label="Today"
  mode="auto"
  icon="today"
  [weight]="0"
  (click)="onTodayClick()"
></pui-layout-control>
<pui-layout-control
  id="nextMonth"
  label="Next month"
  mode="low-emphasis"
  icon="arrow_forward"
  [weight]="100"
  (click)="onNextMonthClick()"
></pui-layout-control>