@layer components {
  .core-sectioned-outlet {
    @apply relative block h-full;
    > .core-sectioned-outlet-main {
      @apply size-full transition duration-100 ease-out;
      > * {
        @apply py-4 sm:pe-4 max-sm:pb-16 transition-all;
      }
      &:has(+ .core-sectioned-outlet-full) {
        @apply opacity-0 scale-[0.98];
      }
    }
    > .core-sectioned-outlet-child-bg {
      @apply inset-0 -left-8 absolute bg-gradient-to-r from-transparent to-[4rem] to-lunar-green-300/90 dark:to-lunar-green-950/90;
      &.core-sectioned-outlet-half {
        @apply lg:left-1/4 xl:left-1/2;
        @apply lg:-ms-8 transition-[left];
      }
      &:has(+ .core-sectioned-outlet-half .core-sectioned-outlet-half) {
        @apply lg:left-0 xl:left-1/4;
      }
    }
    > .core-sectioned-outlet-child {
      @apply absolute inset-0;
      > * {
        @apply inset-0;
      }
      > * > * {
        @apply py-4 sm:pe-4 max-sm:pb-16;
      }
      &:has(> router-outlet:only-child) {
        @apply pointer-events-none;
      }
      &:not(:has(> router-outlet:only-child)) {
        @apply before:opacity-100;
      }
      &.core-sectioned-outlet-half {
        @apply lg:left-1/4 xl:left-1/2;
        @apply transition-[left];
        &:has(.core-sectioned-outlet-half) {
          @apply lg:left-0 xl:left-1/4;
        }
      }
      &.core-sectioned-outlet-full {
      }
    }
  }

  .core-simple-header {
    @apply overflow-hidden rounded-3 ps-6 pe-3 pt-5 pb-3 flex justify-between items-end -top-6 transition-all;
    @apply bg-lunar-green-100 text-primary-800;
    &[data-stuck=true] {
      @apply -mx-2 rounded-none;
    }
    &[data-color=default] {
      .core-breadcrumbs {
        /** use primary instead of lunar-green */
        @apply text-primary-950 dark:text-primary-200;
      }
    }
    &[data-color=primary] {
      .core-breadcrumbs {
        @apply text-primary-950 dark:text-primary-200;
      }
    }
    &[data-color=accent] {
      .core-breadcrumbs {
        @apply text-accent-950 dark:text-accent-200;
      }
    }
  }

  .core-table {
    @apply block;

    .core-table-body {
      @apply grid;
    }

    .core-table-row {
      @apply col-span-full grid grid-cols-subgrid;
      > a {
        @apply col-span-full grid grid-cols-subgrid border-b relative;
        &[data-active=true] {
          @apply bg-gradient-to-r from-hover to-transparent to-50%;
          // @apply before:absolute before:bg-primary-600 before:-left-0.5 before:top-[10%] before:bottom-[10%] before:w-1 before:rounded-full;
        }
      }
    }

    .core-table-header-row {
      @apply col-span-full grid grid-cols-subgrid border-b h-12;
    }

    .core-table-footer-row {
      @apply col-span-full grid grid-cols-1 items-center text-sm text-secondary uppercase h-12;
    }

    .core-table-cell {
      @apply px-4 py-2 truncate line-clamp-1 flex items-center;
    }

    .core-table-header-cell {
      @apply py-2 flex;
      > button {
        @apply grow truncate whitespace-nowrap font-medium text-sm mx-0.5 px-3.5 py-2 rounded-full;
        @apply text-primary-800 dark:text-primary-200;
      }
    }
  }

  .core-breadcrumbs {
    @apply flex gap-0.5 items-center text-sm font-display;
  }

  .core-form-submit {
    @apply overflow-hidden sticky bottom-0 flex-none;
  }

  .core-search-input {
    @apply flex items-center justify-between gap-2;
    &[data-popupvisible=true] {
      @apply bg-hover;
    }
  }

  .core-tab-bar {
    @apply block transition-all overflow-hidden pb-2;
    .core-tab-bar-tabs {
      @apply w-full flex gap-1.5 transition-all sticky px-2;
      > button {
        @apply basis-full grow rounded-2 px-1 h-8 truncate;
      }
    }
    &[data-stuck=true] {
      @apply -mx-2;
      .core-tab-bar-tabs {
        @apply px-4;
      }
    }
    &[data-selected]:not([data-selected=""]) {
      .core-tab-bar-tabs {
        @apply before:transition-all before:absolute before:left-[--core-selected-tab-x] before:rounded-2 before:h-8 before:w-[--core-selected-tab-width] before:border before:bg-hover;
      }
    }
  }

  .core-tab-bar-header {
    @apply bg-hover text-primary-700 dark:text-primary-500 text-base font-medium;
    @apply border border-s-0 rounded-e-2 py-1 ps-4 pe-2 min-h-11;
    @apply flex justify-between items-center gap-2;
  }

  .core-image-upload-edit {
    @apply relative;
    .core-image-upload-edit-upload-button {
      @apply size-full p-2 text-secondary;
    }
    .core-image-upload-edit-cancel-button {
      @apply absolute inset-0 p-2 text-red-500 opacity-0 transition-opacity;
      &:hover {
        @apply opacity-100;
      }
    }
    img {
      @apply transition-all size-full object-cover;
      // mask: linear-gradient(to right, black, rgb(0 0 0 / 0.4) 50%, rgb(0 0 0 / 0.1));
      // mask-size: 200%;
      &:has(+ button:hover) {
        // mask-position: 100%;
        @apply object-contain;
      }
    }
  }

  .core-rating-edit, .core-rating-display {
    @apply flex flex-wrap select-none;
    .core-rating-star {
      @apply grid place-items-center;
      grid-template-areas: "main";
      > * {
        grid-area: main;
      }
    }
  }

  .core-segmented-options {
    > div {
      @apply flex items-center gap-px px-1 py-1;
    }
    input[type=radio] {
      @apply hidden;
    }
    .core-segmented-options-button {
      @apply text-sm transition-all grow px-1 py-1.5;
      @apply first-of-type:rounded-l-2 last-of-type:rounded-r-2;
      &[data-checked=true] {
        @apply z-10 rounded-2 -mx-1 px-2 py-2 -my-0.5;
      }
    }
  }

  .core-color-edit {
    @apply flex gap-2 items-center;
    .core-color-edit-chip {
      @apply size-4 rounded-full shrink-0;
    }
    .core-color-edit-current {
      @apply size-6 border-2 border-black dark:border-white;
    }
    .core-color-edit-presets {
      @apply flex gap-2 items-center grow shrink-0 w-0 overflow-x-auto;
    }
    .core-color-edit-empty {
      background: conic-gradient(
        #333 0.25turn,
        #bbb 0.25turn 0.5turn,
        #333 0.5turn 0.75turn,
        #bbb 0.75turn
      ) top left / 40% 40% repeat;
    }
    .core-color-edit-selector {
      @apply size-6 relative;
      > input {
        @apply absolute inset-0 size-0 opacity-0;
      }
      > .core-color-edit-chip {
        @apply size-6;
      }
    }
  }

  .core-supplementary-panel {
    @apply bg-deep-glass flex-none px-4 py-2;
    > div {
      @apply flex flex-col @md/supplementary-panel:flex-row-reverse gap-2;
    }
    .core-supplementary-panel-actions {
      @apply flex flex-row @md/supplementary-panel:flex-col flex-wrap gap-2 justify-end;
      @apply @md/supplementary-panel:max-h-18;
      .core-supplementary-panel-action {
        @apply px-4 py-1 min-h-8 rounded-2 grow;
      }
    }
    .core-supplementary-panel-text {
      @apply flex flex-col gap-0.5 grow justify-end text-sm text-secondary;
    }
  }
}