@layer components {
  .core-sectioned-outlet {
    @apply relative block h-full;
    > .core-sectioned-outlet-main {
      @apply size-full transition duration-100 ease-out;
      > * {
        @apply py-4 sm:pe-4 max-sm:pb-16 transition-all;
      }
      &:has(+ .core-sectioned-outlet-full) {
        @apply opacity-0 scale-[0.98];
      }
    }
    > .core-sectioned-outlet-child-bg {
      @apply inset-0 -left-8 absolute bg-gradient-to-r from-transparent to-[4rem] to-lunar-green-950/90;
      &.core-sectioned-outlet-half {
        @apply md:left-1/2 md:-ms-8;
      }
    }
    > .core-sectioned-outlet-child {
      @apply absolute inset-0;
      > * {
        @apply inset-0;
      }
      > * > * {
        @apply py-4 sm:pe-4 max-sm:pb-16;
      }
      &:has(> router-outlet:only-child) {
        @apply pointer-events-none;
      }
      &:not(:has(> router-outlet:only-child)) {
        @apply before:opacity-100;
      }
      &.core-sectioned-outlet-half {
        @apply md:left-1/2;
      }
      &.core-sectioned-outlet-full {
      }
    }
  }

  .core-simple-header {
    @apply overflow-hidden rounded-3 ps-6 pe-3 pt-5 pb-3 flex justify-between items-end -top-6 transition-all;
    @apply bg-lunar-green-100 text-primary-800;
    @apply dark:bg-lunar-green-900 dark:text-primary-600;
    @apply dark:from-lunar-green-900 dark:from-[-40%] dark:to-lunar-green-950;
    background-image: radial-gradient(farthest-corner at top left, var(--tw-gradient-stops));
    box-shadow: inset 1px 1px 2px -2px black;
    & {
      &[data-stuck=true] {
        @apply -mx-2 rounded-none shadow dark:shadow-md;
      }
      .core-breadcrumbs {
        @apply text-primary-950 dark:text-primary-200;
      }
    }
    &[data-color=primary] {
      @apply bg-primary-200 text-primary-800;
      @apply dark:bg-primary-700 dark:text-primary-50;
      &[data-stuck=true] {
        @apply bg-primary-100;
        @apply dark:from-primary-900 dark:from-[-40%] dark:to-primary-950;
      }
      .core-breadcrumbs {
        @apply text-primary-950 dark:text-primary-200;
      }
    }
    &[data-color=accent] {
      @apply bg-accent-200 text-accent-800;
      @apply dark:from-accent-900 dark:from-[-40%] dark:to-accent-950;
      @apply dark:text-accent-50;
      &[data-stuck=true] {
        @apply bg-accent-100;
        @apply dark:bg-accent-950;
      }
      .core-breadcrumbs {
        @apply text-accent-950 dark:text-accent-200;
      }
    }
  }

  .core-table {
    @apply block;

    .core-table-body {
      @apply grid;
    }

    .core-table-row {
      @apply col-span-full grid grid-cols-subgrid;
      > a {
        @apply col-span-full grid grid-cols-subgrid border-b relative;
        &[data-active=true] {
          @apply bg-hover before:absolute before:bg-primary-600 before:-left-0.5 before:top-[10%] before:bottom-[10%] before:w-1 before:rounded-full;
        }
      }
    }

    .core-table-header-row {
      @apply col-span-full grid grid-cols-subgrid border-b h-12;
    }

    .core-table-footer-row {
      @apply col-span-full grid grid-cols-1 items-center text-sm text-secondary uppercase h-12;
    }

    .core-table-cell {
      @apply px-4 py-2 truncate line-clamp-1 flex items-center;
    }

    .core-table-header-cell {
      @apply py-2 flex;
      > button {
        @apply grow truncate whitespace-nowrap font-medium text-sm mx-0.5 px-3.5 py-2 rounded-full;
        @apply text-primary-800 dark:text-primary-200;
      }
    }
  }

  .core-breadcrumbs {
    @apply flex gap-0.5 items-center text-sm font-display;
  }

  .core-form-submit {
    @apply overflow-hidden sticky bottom-0 flex-none;
  }

  .core-search-input {
    @apply flex items-center justify-between gap-2;
    &[data-popupvisible=true] {
      @apply bg-hover;
    }
  }

  .core-tab-bar {
    @apply block transition-all overflow-hidden pb-2;
    .core-tab-bar-tabs {
      @apply w-full flex gap-1.5 transition-all sticky px-2;
    }
    &[data-stuck=true] {
      @apply bg-lunar-green-100 dark:bg-lunar-green-900 -mx-2;
      .core-tab-bar-tabs {
        @apply px-4;
      }
    }
    &[data-selected]:not([data-selected=""]) {
      .core-tab-bar-tabs {
        @apply before:transition-all before:absolute before:left-[--core-selected-tab-x] before:rounded-2 before:h-8 before:w-[--core-selected-tab-width] before:border before:bg-hover;
      }
    }
  }

  .core-tab-bar-header {
    @apply bg-hover text-primary-500 text-base font-medium;
    @apply border border-s-0 rounded-e-2 py-1 ps-4 pe-2 min-h-11;
    @apply flex justify-between items-center gap-2;
  }

  .core-image-upload-edit {
    @apply relative;
    .core-image-upload-edit-upload-button {
      @apply size-full p-2 text-secondary;
    }
    .core-image-upload-edit-cancel-button {
      @apply absolute inset-0 p-2 text-red-500 opacity-0 transition-opacity;
      &:hover {
        @apply opacity-100;
      }
    }
    img {
      @apply transition-all size-full object-cover;
      mask: linear-gradient(to right, black, rgb(0 0 0 / 0.4) 50%, rgb(0 0 0 / 0.1));
      mask-size: 200%;
      &:has(+ button:hover) {
        mask-position: 100%;
        @apply object-contain;
      }
    }
  }

  .core-rating-edit, .core-rating-display {
    @apply flex flex-wrap select-none;
    .core-rating-star {
      @apply grid place-items-center;
      grid-template-areas: "main";
      > * {
        grid-area: main;
      }
    }
  }
}