<main class="@container grow">
  <div class="grid @screen-md:grid-cols-3 gap-8">
    <!-- overall card -->
    <div
      class="pui-card rounded-4 p-8 overflow-hidden @screen-md:col-span-2"
    >
      <div
        class="flex flex-col sm:flex-row gap-4 items-stretch h-full overflow-x-auto"
      >
        <div
          class="rounded-3 flex-1 border dark:bg-blue-800 flex flex-col p-4 transition-colors"
        >
          <h3 class="dark:text-blue-200 flex-none">Completed<br />Sales</h3>
          <div class="spacer"></div>
          <span class="text-2xl font-bold self-end text-end tabular-nums"
            >$2,000</span
          >
        </div>
        <div
          class="rounded-3 flex-1 border dark:bg-emerald-800 flex flex-col p-4 transition-colors"
          [ngClass]="{
            'bg-emerald-300 dark:bg-emerald-800': awaitingPaymentsCount() > 0,
            'border-emerald-300/70 dark:border-emerald-800/70':
              awaitingPaymentsCount() == 0,
          }"
        >
          <h3 class="dark:text-emerald-200 flex-none">Awaiting<br />Payments</h3>
          <div class="spacer"></div>
          <span class="text-2xl font-bold self-end text-end tabular-nums">{{
            awaitingPaymentsCount()
          }}</span>
        </div>
        <div
          class="rounded-3 flex-1 border flex flex-col p-4 transition-colors"
          [ngClass]="{
            'bg-amber-300 dark:bg-amber-800': repackageCount() > 0,
            'border-amber-300/70 dark:border-amber-800/70':
              repackageCount() == 0,
          }"
        >
          <h3 class="dark:text-amber-200 flex-none">
            Repackage<br />Requests
          </h3>
          <div class="spacer"></div>
          <span class="text-2xl font-bold self-end text-end tabular-nums">{{
            repackageCount()
          }}</span>
        </div>
      </div>
    </div>
    <!-- profile card -->
    <div class="pui-card rounded-4 p-8 overflow-hidden">
      <div class="flex flex-col items-center gap-2">
        <div
          class="p-4 rounded-full bg-neutral-500 shadow-md shadow-neutral-500 transition-colors relative"
          [style.--color-neutral-500]="'rgb(' + customer()?.profile?.color + ')'"
        >
          <i class="icon-10 font-variation-fill">{{
            customer()?.profile?.icon
          }}</i>
          <button puiBaseButton class="absolute size-8 rounded-full dark:bg-neutral-600 shadow-md -bottom-2 -right-2 justify-center items-center" puiTooltip="Edit" (click)="onProfilePicEdit()">
            <i class="icon-5 font-variation-weight-extra-light">edit</i>
          </button>
        </div>
        <h2 class="w-full text-center wrap-anywhere whitespace-normal">
          {{ customer()?.username ?? "---" }}
        </h2>
        <span
          class="text-sm text-center text-neutral-800 dark:text-neutral-200 before:content-['#']"
          >{{ customer()?.id ?? "----" }}</span
        >
        <span class="text-base text-center"
          >Joined since
          <pui-time-display
            [date]="customer()?.registeredSince"
            [format]="'dd MMM yyyy'"
          ></pui-time-display
        ></span>
      </div>
    </div>
    <!-- historic data card -->
    <div
      class="pui-card rounded-4 p-8 overflow-hidden @screen-md:col-span-2 flex flex-col"
    >
      <h3 class="flex-none">Recent Inventory</h3>
      <pui-table-content></pui-table-content>
      <div class="flex flex-row justify-end items-center">
        <button
          puiBorderedButton
          color="primary"
          class="rounded-full px-4 py-2"
        >
          View all ({{ inventoryItems().length }})
        </button>
      </div>
    </div>
    <!-- additional details -->
    <div class="pui-card rounded-4 py-8 gap-6 overflow-hidden flex flex-col px-8">
      <div class="flex items-center justify-between">
        <h3 class="flex-none">Detailed information</h3>
        <button
          puiBorderedButton
          color="primary"
          class="px-4 py-2 gap-1 rounded-full justify-center items-center"
          puiTooltip="Edit"
          (click)="onInfoEdit()"
        >
          <i class="icon-5 font-variation-weight-extra-light">edit</i>
          <span class="font-medium text-base">Edit</span>
        </button>
      </div>
      <pui-form-display class="-mx-8 @screen-md/layout:mx-0">
        <pui-form-field hideDivider>
          <i puiFormFieldIcon>person</i>
          <span puiFormFieldTitle>Fullname</span>
          @if (isInfoEditing()) {
            <pui-input-field puiFormFieldContent>
              <input [value]="customer()?.name">
            </pui-input-field>
          } @else {
            <span puiFormFieldContent>{{
              customer()?.name ?? "----"
            }}</span>
          }
        </pui-form-field>
        <pui-form-field padStart="1" hideDivider>
          <span puiFormFieldTitle>Username</span>
          @if (isInfoEditing()) {
            <pui-input-field puiFormFieldContent>
              <input [value]="customer()?.username">
            </pui-input-field>
          } @else {
            <span puiFormFieldContent>{{
              customer()?.username ?? "----"
            }}</span>
          }
        </pui-form-field>
        <pui-form-field padStart="1">
          <i puiFormFieldIcon>face</i>
          <span puiFormFieldTitle>Profile icon</span>
          <span puiFormFieldContent>{{
            customer()?.profile?.icon ?? "----"
          }}</span>
        </pui-form-field>
        <pui-form-field>
          <i puiFormFieldIcon>phone</i>
          <span puiFormFieldTitle>Phone number</span>
          <span puiFormFieldDescription>With country code (ie. +123)</span>
          @if (isInfoEditing()) {
            <pui-input-field puiFormFieldContent>
              <input [value]="customer()?.phone" type="tel">
            </pui-input-field>
          } @else {
            <span puiFormFieldContent>{{
              customer()?.phone ?? "----"
            }}</span>
          }
        </pui-form-field>
        <pui-form-field>
          <i puiFormFieldIcon>email</i>
          <span puiFormFieldTitle>Email address</span>
          @if (isInfoEditing()) {
            <pui-input-field puiFormFieldContent>
              <input [value]="customer()?.email" type="email">
            </pui-input-field>
          } @else {
            <span puiFormFieldContent>{{
              customer()?.email ?? "----"
            }}</span>
          }
        </pui-form-field>
        <pui-form-field>
          <i puiFormFieldIcon>location_on</i>
          <span puiFormFieldTitle>Main address</span>
          <div puiFormFieldContent class="flex flex-col gap-1 px-2">
            <span class="text-base">{{ customer()?.address?.line1 }}</span>
            <span class="text-base">{{ customer()?.address?.line2 }}</span>
            <span class="text-base"
              >{{ customer()?.address?.city }},
              {{ customer()?.address?.state }}</span
            >
            <span class="text-base"
              >{{ customer()?.address?.country }}
              {{ customer()?.address?.postalCode }}</span
            >
          </div>
        </pui-form-field>
        <pui-form-field>
          <span puiFormFieldTitle>Registered since</span>
          <pui-time-display puiFormFieldContent format="MMM dd, yyyy HH:mm" [date]="customer()?.registeredSince" class="px-2"></pui-time-display>
        </pui-form-field>
      </pui-form-display>
    </div>
  </div>
</main>
