<main class="grow light-glass-bg rounded-4 p-8">
  <div class="grid grid-cols-3 gap-8">
    <!-- profile card -->
    <div class="light-glass-bg-subtle rounded-4 p-8">
      <div class="flex flex-col items-center gap-2">
        <div class="p-4 rounded-full bg-neutral-500 shadow-md shadow-neutral-500 transition-colors" [style.--color-neutral-500]="data()?.profile?.color">
          <i class="icon-10 font-variation-fill">{{ data()?.profile?.icon }}</i>
        </div>
        <h2 class="w-full text-center break-anywhere whitespace-normal">{{ data()?.name }}</h2>
        <span class="text-base">Joined since <pui-time-display [date]="data()?.registeredSince" [format]="'dd MMM yyyy'"></pui-time-display></span>
      </div>
    </div>
  </div>
</main>