<core-sectioned-outlet>
  <div
    class="h-full relative flex flex-col overflow-x-hidden overflow-y-auto gutter-stable"
    cdkVirtualScrollingElement
    cdkScrollable
    coreTabBarContainerElement
  >
    <div class="bg-deep-glass grow p-2">
      <div class="flex flex-col">
        <core-simple-header
          coreStickyHeader
          checkFor="-168"
          class="h-64 -top-[11.5rem]">
          <div *coreHeader>
            @if (headerImage$ | async; as bgImage) {
              <div
                class="absolute inset-0 -z-10 bg-cover bg-center group-data-[stuck=true]/header:blur from-60% from-lunar-green-100/50 to-lunar-green-100 dark:from-lunar-green-950/50 dark:to-lunar-green-950 transition-all"
                [style.backgroundImage]="bgImage"
              ></div>
            }
            @if (data$ | async; as data) {
              <h2><core-multilingual-text-display [value]="data.name"></core-multilingual-text-display></h2>
            }
          </div>
        </core-simple-header>
        <div class="flex flex-col gap-4 pt-4">
          <core-tab-bar coreStickyHeader checkFor="88" class="top-18 data-[stuck=true]:bg-lunar-green-100 data-[stuck=true]:dark:bg-lunar-green-950"></core-tab-bar>
          <div class="px-2 flex gap-2 items-center">
            @if (data$ | async; as data) {
              <span class="font-medium whitespace-nowrap shrink-0">Rare {{ data.rarity }}</span>
            }
            <div class="flex gap-0.5 shrink-0">
              @if (data$ | async; as data) {
                <core-rating-display [value]="data.rarity"></core-rating-display>
              }
            </div>
          </div>
          <core-tab-bar-header class="-ms-2" label="Stats">
            Stats
            <div *coreTabBarHeaderSupplementary class="flex items-center">
              <a coreHoverable class="rounded-2 size-8" [routerLink]="['edit-stats']">
                <i class="icon-5 font-variation-fill">edit</i>
              </a>
            </div>
          </core-tab-bar-header>
          <div class="px-2 flex items-center gap-2">
            <i class="icon-6 font-variation-fill text-primary-500 shrink-0">shield</i>
            <div class="flex flex-col">
              <span class="font-medium">
                @if (data$ | async; as data) {
                  {{ data.maxDef }} at Lv.{{ data.maxLevel }}
                }
              </span>
              <span class="text-sm text-secondary">
                @if (data$ | async; as data) {
                  {{ data.baseDef }} at Lv.1
                }
              </span>
            </div>
          </div>
          <div class="px-2 flex items-center gap-2">
            <i class="icon-6 font-variation-fill text-primary-500 shrink-0">masked_transitions</i>
            <div class="flex flex-col">
              <span class="font-medium">
                @if (data$ | async; as data) {
                  {{ data.decorationSlots }}
                }
              </span>
            </div>
          </div>
          <core-tab-bar-header class="-ms-2" label="Skills">
            Skills
            <div *coreTabBarHeaderSupplementary class="flex items-center">
              <a coreHoverable class="rounded-2 size-8" [routerLink]="['edit-skills']">
                <i class="icon-5 font-variation-fill">edit</i>
              </a>
            </div>
          </core-tab-bar-header>
          <p class="leading-10">
            Ad consectetur consectetur in enim culpa mollit irure et ea. Laboris nulla quis eu cupidatat adipisicing ea. Occaecat veniam occaecat adipisicing anim nostrud labore nostrud ullamco.

    Ipsum duis in consectetur pariatur eu laboris anim officia fugiat qui exercitation dolor. Aliqua Lorem est excepteur deserunt et et laborum qui. Velit ut reprehenderit cupidatat adipisicing irure magna qui commodo ut magna quis ipsum elit. Proident fugiat consectetur ea minim veniam quis enim.

    Proident laboris nostrud consequat Lorem quis duis velit fugiat ad. Amet ut adipisicing tempor occaecat. Quis deserunt sint aliquip exercitation.

    Cupidatat nisi laborum voluptate velit culpa nisi cillum fugiat id nostrud quis minim excepteur. Sit veniam quis incididunt consequat magna voluptate. Adipisicing ad enim nostrud sint cupidatat. Laboris labore sint reprehenderit pariatur in sunt.

    Velit ex officia excepteur nostrud dolor reprehenderit sunt. Nisi nulla pariatur ad irure ex elit ea velit quis. Enim labore adipisicing sint cillum dolore nulla.

    Dolore et in ea ullamco tempor aliquip sint. Qui ipsum magna ipsum labore sint excepteur ipsum occaecat incididunt nostrud esse. Ad velit enim mollit mollit magna ullamco commodo veniam aliquip ex dolor do. In fugiat pariatur aliqua Lorem amet adipisicing nulla dolore quis mollit aute. Enim eiusmod eiusmod laborum ex Lorem nisi incididunt ad ipsum reprehenderit.

    Est quis incididunt duis amet. Enim dolor occaecat occaecat eu ea mollit anim et excepteur. Non ex culpa officia nostrud laboris occaecat mollit non ad fugiat voluptate in sunt.

    Adipisicing minim sit mollit excepteur ex excepteur magna. Sint in fugiat reprehenderit adipisicing velit dolore commodo pariatur veniam. Reprehenderit officia qui est sit laboris commodo veniam nisi ex laborum. Exercitation adipisicing occaecat aliquip magna aliqua ad mollit ut ut ad culpa consectetur aliqua esse. Consequat pariatur do consequat consequat Lorem minim aliqua Lorem ipsum veniam aute consequat incididunt. Qui aute sit ipsum voluptate sint esse Lorem.

    Nulla irure adipisicing id veniam occaecat id culpa est. Nulla id irure veniam enim ad veniam commodo. Aliqua et dolor pariatur mollit. Exercitation elit eiusmod nisi reprehenderit amet eu et sint occaecat.

    Veniam aute quis ipsum sit ipsum labore officia ipsum anim. Laborum velit sunt sunt laborum et quis velit cupidatat ad consequat dolor elit aliquip. Eiusmod fugiat tempor proident labore exercitation qui in aute. Id laborum elit ut aliquip irure consectetur in dolor labore. Irure incididunt elit do voluptate sunt in commodo qui deserunt non duis et.
          </p>
          <core-tab-bar-header class="-ms-2" label="Crafting">
            Crafting
          </core-tab-bar-header>
          <p class="leading-10">
            Ad consectetur consectetur in enim culpa mollit irure et ea. Laboris nulla quis eu cupidatat adipisicing ea. Occaecat veniam occaecat adipisicing anim nostrud labore nostrud ullamco.

    Ipsum duis in consectetur pariatur eu laboris anim officia fugiat qui exercitation dolor. Aliqua Lorem est excepteur deserunt et et laborum qui. Velit ut reprehenderit cupidatat adipisicing irure magna qui commodo ut magna quis ipsum elit. Proident fugiat consectetur ea minim veniam quis enim.

    Proident laboris nostrud consequat Lorem quis duis velit fugiat ad. Amet ut adipisicing tempor occaecat. Quis deserunt sint aliquip exercitation.

    Cupidatat nisi laborum voluptate velit culpa nisi cillum fugiat id nostrud quis minim excepteur. Sit veniam quis incididunt consequat magna voluptate. Adipisicing ad enim nostrud sint cupidatat. Laboris labore sint reprehenderit pariatur in sunt.

    Velit ex officia excepteur nostrud dolor reprehenderit sunt. Nisi nulla pariatur ad irure ex elit ea velit quis. Enim labore adipisicing sint cillum dolore nulla.

    Dolore et in ea ullamco tempor aliquip sint. Qui ipsum magna ipsum labore sint excepteur ipsum occaecat incididunt nostrud esse. Ad velit enim mollit mollit magna ullamco commodo veniam aliquip ex dolor do. In fugiat pariatur aliqua Lorem amet adipisicing nulla dolore quis mollit aute. Enim eiusmod eiusmod laborum ex Lorem nisi incididunt ad ipsum reprehenderit.

    Est quis incididunt duis amet. Enim dolor occaecat occaecat eu ea mollit anim et excepteur. Non ex culpa officia nostrud laboris occaecat mollit non ad fugiat voluptate in sunt.

    Adipisicing minim sit mollit excepteur ex excepteur magna. Sint in fugiat reprehenderit adipisicing velit dolore commodo pariatur veniam. Reprehenderit officia qui est sit laboris commodo veniam nisi ex laborum. Exercitation adipisicing occaecat aliquip magna aliqua ad mollit ut ut ad culpa consectetur aliqua esse. Consequat pariatur do consequat consequat Lorem minim aliqua Lorem ipsum veniam aute consequat incididunt. Qui aute sit ipsum voluptate sint esse Lorem.

    Nulla irure adipisicing id veniam occaecat id culpa est. Nulla id irure veniam enim ad veniam commodo. Aliqua et dolor pariatur mollit. Exercitation elit eiusmod nisi reprehenderit amet eu et sint occaecat.

    Veniam aute quis ipsum sit ipsum labore officia ipsum anim. Laborum velit sunt sunt laborum et quis velit cupidatat ad consequat dolor elit aliquip. Eiusmod fugiat tempor proident labore exercitation qui in aute. Id laborum elit ut aliquip irure consectetur in dolor labore. Irure incididunt elit do voluptate sunt in commodo qui deserunt non duis et.
          </p>
        </div>
      </div>
    </div>
    @if (data$ | async; as data) {
      <core-supplementary-panel
        class="mt-4"
        [createdAt]="data.createdAt"
        [updatedAt]="data.updatedAt"
      >
      </core-supplementary-panel>
    }
  </div>
</core-sectioned-outlet>