<phead-layered-container>
  <div
    pheadSidebarContainer
  >
    <div pheadSidebarBreadcrumbs>
      <phead-breadcrumbs></phead-breadcrumbs>
    </div>
    <phead-sidebar-content>
      <div *pheadSidebarMain class="py-4 flex flex-col gap-4">
        <div class="flex justify-between items-center px-4 gap-4">
          @if (data$ | async; as data) {
            <h2 class="text-primary-800 dark:text-primary-200">{{ data.name?.jp }} / {{ data.name?.en }}</h2>
          }
          <div class="flex gap-2 items-center">
            @if (formControl.dirty) {
              <button pheadHoverable class="rounded-1 px-3 py-2" (click)="onCancel()">Cancel</button>
              <button pheadHoverable pheadHardSurface color="primary" class="rounded-1 px-3 py-2" (click)="onSave()">Save</button>
            }
          </div>
        </div>
        <phead-divider></phead-divider>
        <phead-fieldset [formControl]="formControl">
          <phead-field-def
            key="name>en"
            label="English Name"
            fieldType="string"
          ></phead-field-def>
          <phead-field-def
            key="name>jp"
            label="Japanese Name"
            fieldType="string"
          ></phead-field-def>
          <phead-field-def
            key="position"
            label="Position"
            fieldType="string"
            [fieldConfig]="{
              enum: armorPosition
            }"
          ></phead-field-def>
          <phead-field-def
            key="armorSetId"
            label="Armor Set"
            fieldType="string"
            [templateRef]="armorSetIdInput"
          ></phead-field-def>
          <phead-field-def
            key="baseDef"
            label="Base Defense"
            fieldType="number"
          ></phead-field-def>
          <phead-field-def
            key="maxDef"
            label="Max Defense"
            fieldType="number"
          ></phead-field-def>
          <phead-field-def
            key="maxLevel"
            label="Max Level"
            fieldType="number"
          ></phead-field-def>
          <phead-field-def
            key="decorationSlots"
            label="Decoration Slots"
            fieldType="array">
          </phead-field-def>
          @for (decorationSlot of formControl.value?.decorationSlots; track $index) {
            <phead-field-def
              [key]="'decorationSlots>' + $index"
              [label]="'↳ Decoration Slot #' + $index"
              fieldType="number"
            ></phead-field-def>
          }
          <phead-field-def
            key="createdAt"
            label="Created At"
            fieldType="date-time"
          ></phead-field-def>
          <phead-field-def
            key="updatedAt"
            label="Updated At"
            fieldType="date-time"
          ></phead-field-def>
        </phead-fieldset>
      </div>
    </phead-sidebar-content>
  </div>
</phead-layered-container>

<ng-template #armorSetIdInput let-key="key" let-formGroup="formGroup">
  <ng-container [formGroup]="formGroup">
    <phead-dropdown [formControlName]="key">
      <div *pheadDropdownTrigger="let value">{{ value }}</div>
      <phead-search-dropdown *pheadDropdownOverlay>
        <demo-armor-set-search></demo-armor-set-search>
      </phead-search-dropdown>
    </phead-dropdown>
  </ng-container>
</ng-template>