<phead-layered-container>
  <div
    pheadSidebarContainer
  >
    <div pheadSidebarBreadcrumbs>
      <phead-breadcrumbs></phead-breadcrumbs>
    </div>
    <phead-sidebar-content>
      <div *pheadSidebarMain class="my-2">
        <phead-fieldset [formControl]="formControl" (valueChange)="onInput()">
          <phead-field-def
            key="name>en"
            label="English Name"
            fieldType="string"
          ></phead-field-def>
          <phead-field-def
            key="name>jp"
            label="Japanese Name"
            fieldType="string"
          ></phead-field-def>
          <phead-field-def
            key="position"
            label="Position"
            fieldType="string"
            [fieldConfig]="{
              enum: armorPosition
            }"
          ></phead-field-def>
          <phead-field-def
            key="armorSetId"
            label="Armor Set"
            fieldType="string"
            [templateRef]="armorSetIdInput"
          ></phead-field-def>
          <phead-field-def
            key="baseDef"
            label="Base Defense"
            fieldType="number"
          ></phead-field-def>
          <phead-field-def
            key="maxDef"
            label="Max Defense"
            fieldType="number"
          ></phead-field-def>
          <phead-field-def
            key="maxLevel"
            label="Max Level"
            fieldType="number"
          ></phead-field-def>
          <phead-field-def
            key="createdAt"
            label="Created At"
            fieldType="date-time"
          ></phead-field-def>
          <phead-field-def
            key="updatedAt"
            label="Updated At"
            fieldType="date-time"
          ></phead-field-def>
        </phead-fieldset>
      </div>
    </phead-sidebar-content>
  </div>
</phead-layered-container>

<ng-template #armorSetIdInput let-key="key" let-formGroup="formGroup">
  <ng-container [formGroup]="formGroup">
    <phead-dropdown [formControlName]="key">
      <div *pheadDropdownTrigger="let value">{{ value }}</div>
      <phead-search-dropdown *pheadDropdownOverlay>
        <demo-armor-set-search></demo-armor-set-search>
      </phead-search-dropdown>
    </phead-dropdown>
  </ng-container>
</ng-template>