<pui-layered-container>
  <div
    puiSidebarContainer
  >
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content>
      <div *puiSidebarMain class="py-4 flex flex-col gap-4">
        <div class="flex justify-between items-center px-4 gap-4">
          @if (data$ | async; as data) {
            <h2 class="text-primary-800 dark:text-primary-200">{{ data.name?.jp }} / {{ data.name?.en }}</h2>
          }
          <div class="flex gap-2 items-center">
            @if (formControl.dirty) {
              <button puiHoverable class="rounded-1 px-3 py-2" (click)="onCancel()">Cancel</button>
              <button puiFilledButton color="primary" class="rounded-1 px-3 py-2" (click)="onSave()">Save</button>
            }
          </div>
        </div>
        <pui-divider></pui-divider>
        <pui-fieldset [formControl]="formControl">
          <pui-field-def
            key="name>en"
            label="English Name"
            fieldType="string"
          ></pui-field-def>
          <pui-field-def
            key="name>jp"
            label="Japanese Name"
            fieldType="string"
          ></pui-field-def>
          <pui-field-def
            key="position"
            label="Position"
            fieldType="string"
            [fieldConfig]="{
              enum: armorPosition
            }"
          ></pui-field-def>
          <pui-field-def
            key="armorSetId"
            label="Armor Set"
            fieldType="string"
            [templateRef]="armorSetIdInput"
          ></pui-field-def>
          <pui-field-def
            key="baseDef"
            label="Base Defense"
            fieldType="number"
          ></pui-field-def>
          <pui-field-def
            key="maxDef"
            label="Max Defense"
            fieldType="number"
          ></pui-field-def>
          <pui-field-def
            key="maxLevel"
            label="Max Level"
            fieldType="number"
          ></pui-field-def>
          <pui-field-def
            key="decorationSlots"
            label="Decoration Slots"
            fieldType="array">
          </pui-field-def>
          @for (decorationSlot of formControl.value?.decorationSlots; track $index) {
            <pui-field-def
              [key]="'decorationSlots>' + $index"
              [label]="'↳ Decoration Slot #' + $index"
              fieldType="number"
            ></pui-field-def>
          }
          <pui-field-def
            key="createdAt"
            label="Created At"
            fieldType="date-time"
          ></pui-field-def>
          <pui-field-def
            key="updatedAt"
            label="Updated At"
            fieldType="date-time"
          ></pui-field-def>
        </pui-fieldset>
      </div>
    </pui-sidebar-content>
  </div>
</pui-layered-container>

<ng-template #armorSetIdInput let-key="key" let-formGroup="formGroup">
  <ng-container [formGroup]="formGroup">
    <pui-dropdown [formControlName]="key">
      <div *puiDropdownTrigger="let value">{{ value }}</div>
      <pui-search-dropdown *puiDropdownOverlay>
        <demo-armor-set-search></demo-armor-set-search>
      </pui-search-dropdown>
    </pui-dropdown>
  </ng-container>
</ng-template>