<div class="bg-deep-glass max-w-100vw w-96 shadow-md">
  <form class="flex flex-col py-2 gap-2" [formGroup]="formGroup" (submit)="onSaveClick()">
    <div class="grow flex flex-col gap-2 overflow-auto px-2">
      <core-form-fieldset>
        <core-form-field>
          <span *coreFormFieldLabel>Name</span>
          <input *coreFormFieldInput coreInputField class="px-4 py-1" placeholder="Enter name in English/Japanese/Chinese" formControlName="name">
        </core-form-field>
        <core-form-field>
          <span *coreFormFieldLabel>Rarity</span>
          <core-rating-edit *coreFormFieldInput formControlName="rarity" max="12" min="1" class="px-4 py-1"></core-rating-edit>
        </core-form-field>
      </core-form-fieldset>
    </div>
    <div class="shrink-0 flex justify-between px-2">
      <div><!-- placeholder --></div>
      <button coreHoverable type="submit" class="rounded-full bg-accent-400 text-accent-950 px-4 py-2 font-bold">Save</button>
    </div>
  </form>
</div>