<pui-layered-container>
  <div puiSidebarContainer>
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content class="max-w-screen-3xl">
      <div *puiSidebarMain class="flex flex-col gap-4 py-6 px-8">
        @if (data()) {
          <pui-input-field borderless class="text-2xl font-bold text-primary-700 dark:text-primary-300">
            <input type="text" class="py-2" [value]="data()?.title" (input)="updateTitle($event)">
          </pui-input-field>
          <div class="flex items-center gap-1.5 px-2 -mt-3">
            <i class="icon-5" [ngClass]="{ 'font-variation-fill text-primary-800 dark:text-primary-200': !!data()?.label }">label</i>
            <pui-input-field borderless class="text-primary-800 dark:text-primary-200">
              <input type="text" class="py-2" [value]="data()?.label" (input)="updateLabel($event)">
            </pui-input-field>
            @if (data()?.remindOn) {
              <i class="icon-5" [ngClass]="{ 'text-primary-800 dark:text-primary-200': !!data()?.label }">timer</i>
              <pui-time-display [date]="data()?.remindOn" format="MMM dd, YYYY HH:mm"></pui-time-display>
            }
          </div>
          <pui-divider></pui-divider>
          <div class="flex flex-col px-1">
            @for (item of data()?.items; track item.id) {
              <demo-item [item]="item" (updateItem)="updateItem(item.id, $event)"></demo-item>
            }
            <demo-item-add (addItem)="addItem($event)"></demo-item-add>
          </div>
        }
      </div>
      <pui-accordion>
        <demo-drawer-remind *puiSidebarDrawer [todo]="data()"></demo-drawer-remind>
        <demo-drawer-remove *puiSidebarDrawer [todo]="data()"></demo-drawer-remove>
      </pui-accordion>
    </pui-sidebar-content>
  </div>
</pui-layered-container>