<phead-layered-container>
  <div pheadSidebarContainer>
    <div pheadSidebarBreadcrumbs>
      <phead-breadcrumbs></phead-breadcrumbs>
    </div>
    <phead-sidebar-content class="max-w-screen-3xl">
      <div *pheadSidebarMain class="flex flex-col gap-4 py-6 px-8">
        @if (data()) {
          <phead-input-field borderless class="text-2xl font-bold text-primary-700 dark:text-primary-300">
            <input type="text" class="py-2" [value]="data()?.title" (input)="updateTitle($event)">
          </phead-input-field>
          <div class="flex items-center gap-1.5 px-2 -mt-3">
            <i class="icon-5" [ngClass]="{ 'font-variation-fill text-primary-800 dark:text-primary-200': !!data()?.label }">label</i>
            <phead-input-field borderless class="text-primary-800 dark:text-primary-200">
              <input type="text" class="py-2" [value]="data()?.label" (input)="updateLabel($event)">
            </phead-input-field>
            @if (data()?.remindOn) {
              <i class="icon-5" [ngClass]="{ 'text-primary-800 dark:text-primary-200': !!data()?.label }">timer</i>
              <phead-time-display [date]="data()?.remindOn" format="MMM dd, YYYY HH:mm"></phead-time-display>
            }
          </div>
          <phead-divider></phead-divider>
          <div class="flex flex-col px-1">
            @for (item of data()?.items; track item.id) {
              <demo-item [item]="item" (updateItem)="updateItem(item.id, $event)"></demo-item>
            }
            <demo-item-add (addItem)="addItem($event)"></demo-item-add>
          </div>
        }
      </div>
      <phead-accordion>
        <demo-drawer-remind *pheadSidebarDrawer [todo]="data()"></demo-drawer-remind>
        <demo-drawer-remove *pheadSidebarDrawer [todo]="data()"></demo-drawer-remove>
      </phead-accordion>
    </phead-sidebar-content>
  </div>
</phead-layered-container>