@import 'tailwindcss';
@source "../node_modules/portal-ui-ng";

@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/text-field-prebuilt.css';

@import '../../../node_modules/vanilla-calendar-pro/styles/index.css' layer(utilities);
@import '../../portal-ui-ng/assets/base/_index.css';
@import '../../portal-ui-ng/assets/components/_index.css';
@import '../../portal-ui-ng/assets/pages/_index.css';

.error-dialog {
  .pui-modal-dialog__icon {
    @apply text-red-700 dark:text-red-500;
  }
  .pui-modal-dialog__title {
    @apply text-red-800 dark:text-red-300;
  }
  .pui-modal-dialog__details {
    @apply text-red-950 dark:text-red-50;
  }
}

@theme {
  --font-sans: 'Nunito',
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-display: 'MuseoModerno', var(--font-sans);
}

@layer base {
  html {
    min-height: 100svh;
    height: 100%;
  }
  body {
    min-height: 100svh;
    height: 100%;
  }
  h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0.05rem;
    font-family: var(--font-display);
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 1.5rem;
  }
  h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.05rem;
    font-family: var(--font-display);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 1rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.375rem;
    font-family: var(--font-display);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  code {
    @apply dark:bg-neutral-700 font-mono px-1 rounded-1 select-all;
  }
}