<div class="flex gap-2">
  @for (slot of slots; track $index) {
    <button
      type="button"
      coreHoverable
      class="rounded-2 p-2"
      [disabled]="isDisabled"
      (click)="toggleSlot($index)"
    >
      @if (slot == 1 || slot == 2 || slot == 3 || slot == 4) {
        <mhw-decoration-slot [size]="slot" class="size-6"></mhw-decoration-slot>
      }
    </button>
  }
  <button
    type="button"
    coreHoverable
    class="rounded-2 p-2.5"
    (click)="addSlot()"
    [disabled]="isDisabled"
  >
    <i class="icon-5 text-secondary">add</i>
  </button>
</div>