<form
  class="size-full relative flex flex-col overflow-x-hidden overflow-y-auto gutter-stable"
  cdkVirtualScrollingElement
  cdkScrollable
  (submit)="onSave()"
>
  <div class="bg-deep-glass grow p-2">
    <div class="flex flex-col">
      <core-simple-header coreStickyHeader color="accent">
        <h2 *coreHeader>Edit</h2>
      </core-simple-header>
      <div class="flex flex-col gap-4 pt-4" [formGroup]="formGroup">
        <core-form-fieldset>
          <core-form-field>
            <div *coreFormFieldLabel>Decoration Slots</div>
            <mhw-decoration-slots-edit *coreFormFieldInput formControlName="decorationSlots"></mhw-decoration-slots-edit>
          </core-form-field>
        </core-form-fieldset>
        <span class="px-4 pt-2 font-display font-light text-accent-800 dark:text-accent-200 tracking-wider">Defense</span>
        <core-form-fieldset>
          <core-form-field>
            <div *coreFormFieldLabel>Defense at Lv.1</div>
            <input *coreFormFieldInput formControlName="baseDef" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel>Maximum Level</div>
            <div *coreFormFieldDescription>Without Custom Upgrades</div>
            <input *coreFormFieldInput formControlName="maxLevel" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel>Defense at Lv.Max</div>
            <input *coreFormFieldInput formControlName="maxDef" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
        </core-form-fieldset>
        <span class="px-4 pt-2 font-display font-light text-accent-800 dark:text-accent-200 tracking-wider">Elemental Resistance</span>
        <core-form-fieldset formGroupName="resistance">
          <core-form-field>
            <div *coreFormFieldLabel class="flex items-center gap-1 text-red-600 dark:text-red-400">
              <i class="icon-4">local_fire_department</i>
              (Fire)
            </div>
            <input *coreFormFieldInput formControlName="fire" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel class="flex items-center gap-1 text-blue-600 dark:text-blue-400">
              <i class="icon-4">water_drop</i>
              (Water)
            </div>
            <input *coreFormFieldInput formControlName="water" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel class="flex items-center gap-1 text-yellow-600 dark:text-yellow-400">
              <i class="icon-4">bolt</i>
              (Thunder)
            </div>
            <input *coreFormFieldInput formControlName="thunder" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel class="flex items-center gap-1 text-cyan-600 dark:text-cyan-200">
              <i class="icon-4">mode_cool</i>
              (Ice)
            </div>
            <input *coreFormFieldInput formControlName="ice" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel class="flex items-center gap-1 text-purple-700 dark:text-purple-500">
              <i class="icon-4">raven</i>
              (Dragon)
            </div>
            <input *coreFormFieldInput formControlName="dragon" type="number" coreInputField class="px-4 py-2"/>
          </core-form-field>
        </core-form-fieldset>
      </div>
    </div>
  </div>
  <core-form-submit
    [dirty]="true"
    [disabled]="formGroup.disabled || formGroup.invalid"
    (saveClick)="onSave()"
    (cancelClick)="onCancel()"
  ></core-form-submit>
</form>