<div class="flex flex-col border-b">
  <button
    class="px-2 py-2 flex justify-start gap-2 text-primary-800 dark:text-primary-200"
    coreHoverable
    (click)="toggleState()"
    role="button"
    type="button"
  >
    <i class="icon-5">add</i>
    <p>Insert New</p>
  </button>
  @if (expanded) {
    <form class="overflow-hidden flex flex-col gap-2" (ngSubmit)="onSubmit()">
      <core-fieldset [formControl]="formControl">
        <core-field-def
          coreFieldDef="name>en"
          coreFieldDefLabel="English Name"
          coreFieldType="string"
        ></core-field-def>
        <core-field-def
          coreFieldDef="name>jp"
          coreFieldDefLabel="Japanese Name"
          coreFieldType="string"
        ></core-field-def>
        <core-field-def
          coreFieldDef="rarity"
          coreFieldDefLabel="Rarity"
          coreFieldType="number"
          [fieldConfig]="{}"
        ></core-field-def>
        <core-field-def
          coreFieldDef="rank"
          coreFieldDefLabel="Rank"
          coreFieldType="string"
          [fieldConfig]="{
            enum: ['base', 'iceborne']
          }"
        ></core-field-def>
      </core-fieldset>
      <button class="mx-2 mb-2 px-3 py-1.5 rounded-1" coreHoverable coreHardSurface color="primary" role="button" type="submit">Add</button>
    </form>
  }
</div>