
<div class="flex justify-center">
  <div class="rounded-full bg-white/50 dark:bg-black/15 border p-1.5 flex items-center gap-1.5">
    <i class="icon-5 ms-1">add</i>
    <button
      type="button"
      coreHoverable
      coreHardSurface
      color="primary"
      class="rounded-full p-2"
      (click)="addEffect.emit('general')"
    >
      <i class="icon-4">text_fields</i>
    </button>
    <button
      type="button"
      coreHoverable
      coreHardSurface
      color="primary"
      class="rounded-full p-2"
      (click)="addEffect.emit('attack')"
    >
      <i class="icon-4">swords</i>
    </button>
    <button
      type="button"
      coreHoverable
      coreHardSurface
      color="primary"
      class="rounded-full p-2"
      (click)="addEffect.emit('affinity')"
    >
      <i class="icon-4">stat_3</i>
    </button>
    <button
      type="button"
      coreHoverable
      class="rounded-full p-2 bg-gradient-conic elemental-gradient"
      (click)="addEffect.emit('elementalAttack')"
    >
      <i class="icon-4 font-variation-fill">swords</i>
    </button>
    <button
      type="button"
      coreHoverable
      coreHardSurface
      color="primary"
      class="rounded-full p-2"
      (click)="addEffect.emit('defense')"
    >
      <i class="icon-4">shield</i>
    </button>
    <button
      type="button"
      coreHoverable
      class="rounded-full p-2 bg-gradient-conic elemental-gradient"
      (click)="addEffect.emit('resistance')"
    >
      <i class="icon-4 font-variation-fill">shield</i>
    </button>
  </div>
</div>