<core-sectioned-outlet>
  <div
    coreSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div coreSidebarBreadcrumbs>
      <core-breadcrumbs></core-breadcrumbs>
    </div>
    <core-sidebar-content>
      <core-table
        *coreSidebarMain
        itemHeight="48"
        [columns]="['name', 'armorSetId', 'createdAt']"
        [columnWidths]="['50%', '30%', '1fr']"
      >
        <core-table-header-cell *coreTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
          Name
          <core-table-filter-by-text *coreTableHeaderCellFilter [value]="filterByName$$()" (valueChange)="onChangeFilter({ name: $event })"></core-table-filter-by-text>
        </core-table-header-cell>
        <core-table-header-cell *coreTableHeaderCellDef="'armorSetId'" [filtered]="filterByArmorSet$$() != null" [sortedAsc]="sortByArmorSet$$() === 'asc'" [sortedDesc]="sortByArmorSet$$() === 'desc'">
          Armor Set
          <core-segmented-options *coreTableHeaderCellSort [value]="sortByArmorSet$$()" (valueChange)="onChangeSort(['armorSetId', $event])" color="accent">
            <div *coreOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
            <div *coreOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
          </core-segmented-options>
          <core-table-filter-by-search
            *coreTableHeaderCellFilter
            [value]="filterByArmorSet$$()"
            (valueChange)="onChangeFilter({ armorSetId: $event })"
            sourceName="armorSet"
            [pickWith]="pickArmorSet"
          >
            <div *coreSearchInputLabel="let id">
              @if (id | armorSetData | async; as data) {
                <core-multilingual-text-display [value]="data.name"></core-multilingual-text-display>
              } @else {
                <!-- TODO -->
                <span>Unable to resolve</span>
              }
            </div>
            <div *coreSearchInputSuggestionItem="let item" class="px-4 py-0.5 truncate">
              <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
            </div>
          </core-table-filter-by-search>
        </core-table-header-cell>
        <core-table-header-cell *coreTableHeaderCellDef="'createdAt'" rightAligned [sortedAsc]="sortByCreatedAt$$() === 'asc'" [sortedDesc]="sortByCreatedAt$$() === 'desc'">
          Created
          <core-segmented-options *coreTableHeaderCellSort [value]="sortByCreatedAt$$()" (valueChange)="onChangeSort(['createdAt', $event])" color="accent">
            <div *coreOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
            <div *coreOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
          </core-segmented-options>
        </core-table-header-cell>

        <core-table-cell *coreTableCellDef="'name'; let item">
          <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
        </core-table-cell>
        <core-table-cell *coreTableCellDef="'armorSetId'; let item">
          @if (item.armorSetId | armorSetData | async; as armorSet) {
            <core-multilingual-text-display [value]="armorSet.name"></core-multilingual-text-display>
          }
        </core-table-cell>
        <core-table-cell *coreTableCellDef="'createdAt'; let item">
          <core-time-display [date]="item.createdAt" format="yyyy-MM-dd HH:mm"></core-time-display>
        </core-table-cell>

        <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
          <core-table-body>
            <core-table-header-row>
            </core-table-header-row>
            <core-table-row
              *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
              coreHoverable
              [route]="[item.id]"
              [item]="item"
            >
            </core-table-row>
            @if (data$ | async; as data) {
              <core-table-footer-row class="px-4 py-1">
                <core-table-simple-footer [dataCount]="data.length"></core-table-simple-footer>
              </core-table-footer-row>
            } @else {
              <mhw-loading-footer></mhw-loading-footer>
            }
          </core-table-body>
        </cdk-virtual-scroll-viewport>
      </core-table>
      <mhw-armor-create *coreSidebarDrawer></mhw-armor-create>
    </core-sidebar-content>
  </div>
</core-sectioned-outlet>