<core-sectioned-outlet>
  <div
    class="h-full overflow-x-hidden overflow-y-auto flex flex-col"
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div class="sticky top-0 px-3 py-3 flex-none border-b bg-side-content">
      <core-breadcrumbs></core-breadcrumbs>
    </div>
    <div class="flex grow">
      <div class="gutter-stable grow">
        <core-table
          itemHeight="48"
          [columns]="['name', 'armorSetId', 'createdAt']"
          [columnWidths]="['50%', '30%', '1fr']"
        >
          <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
            <core-table-body>
              <core-table-header-row>
                <core-table-header-cell *coreTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
                  Name
                  <core-table-filter-by-text *coreTableHeaderCellFilter [value]="filterByName$$()" (valueChange)="onChangeFilter({ name: $event })"></core-table-filter-by-text>
                </core-table-header-cell>
                <core-table-header-cell *coreTableHeaderCellDef="'armorSetId'" [filtered]="filterByArmorSet$$() != null" [sortedAsc]="sortByArmorSet$$() === 'asc'" [sortedDesc]="sortByArmorSet$$() === 'desc'">
                  Armor Set
                  <core-segmented-options *coreTableHeaderCellSort [value]="sortByArmorSet$$()" (valueChange)="onChangeSort(['armorSetId', $event])" color="accent">
                    <div *coreOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
                    <div *coreOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
                  </core-segmented-options>
                  <core-table-filter-by-search
                    *coreTableHeaderCellFilter
                    [value]="filterByArmorSet$$()"
                    (valueChange)="onChangeFilter({ armorSetId: $event })"
                    sourceName="armorSet"
                    [pickWith]="pickArmorSet"
                  >
                    <div *coreSearchInputLabel="let id">
                      @if (id | armorSetData | async; as data) {
                        <core-multilingual-text-display [value]="data.name"></core-multilingual-text-display>
                      } @else {
                        <!-- TODO -->
                        <span>Unable to resolve</span>
                      }
                    </div>
                    <div *coreSearchInputSuggestionItem="let item" class="px-4 py-0.5 truncate">
                      <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
                    </div>
                  </core-table-filter-by-search>
                </core-table-header-cell>
                <core-table-header-cell *coreTableHeaderCellDef="'createdAt'" rightAligned [sortedAsc]="sortByCreatedAt$$() === 'asc'" [sortedDesc]="sortByCreatedAt$$() === 'desc'">
                  Created
                  <core-segmented-options *coreTableHeaderCellSort [value]="sortByCreatedAt$$()" (valueChange)="onChangeSort(['createdAt', $event])" color="accent">
                    <div *coreOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
                    <div *coreOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
                  </core-segmented-options>
                </core-table-header-cell>
              </core-table-header-row>
              <core-table-row
                *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
                coreHoverable
                [route]="[item.id]"
                [item]="item"
              >
                <core-table-cell *coreTableCellDef="'name'">
                  <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
                </core-table-cell>
                <core-table-cell *coreTableCellDef="'armorSetId'">
                  @if (item.armorSetId | armorSetData | async; as armorSet) {
                    <core-multilingual-text-display [value]="armorSet.name"></core-multilingual-text-display>
                  }
                </core-table-cell>
                <core-table-cell *coreTableCellDef="'createdAt'">
                  <core-time-display [date]="item.createdAt" format="yyyy-MM-dd HH:mm"></core-time-display>
                </core-table-cell>
              </core-table-row>
              @if (data$ | async; as data) {
                <core-table-footer-row class="px-4 py-1">
                  <core-table-simple-footer [dataCount]="data.length"></core-table-simple-footer>
                </core-table-footer-row>
              } @else {
                <mhw-loading-footer></mhw-loading-footer>
              }
            </core-table-body>
          </cdk-virtual-scroll-viewport>
        </core-table>
      </div>
      <div class="basis-120 border-l bg-side-content">
        <mhw-armor-create></mhw-armor-create>
        <mhw-armor-create></mhw-armor-create>
      </div>
    </div>
    <!-- <div class="bg-glass min-h-full p-2">
      <div class="flex flex-col">
        <core-simple-header coreStickyHeader coreHoverable (bgClick)="onHeaderClick()">
          <h2 *coreHeader>Armor Piece</h2>
          <ng-container *coreHeaderActions>
            <a #btn coreHoverable class="size-10 rounded-3" [routerLink]="['new']">
              <i class="icon-8 font-variation-weight-extra-light">add</i>
            </a>
          </ng-container>
        </core-simple-header>
        <core-table
          itemHeight="48"
          [columns]="['name', 'armorSetId', 'createdAt']"
          [columnWidths]="['50%', '30%', '1fr']"
        >
          <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
            <core-table-body>
              <core-table-header-row>
                <core-table-header-cell *coreTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
                  Name
                  <core-table-filter-by-text *coreTableHeaderCellFilter [value]="filterByName$$()" (valueChange)="onChangeFilter({ name: $event })"></core-table-filter-by-text>
                </core-table-header-cell>
                <core-table-header-cell *coreTableHeaderCellDef="'armorSetId'" [filtered]="filterByArmorSet$$() != null" [sortedAsc]="sortByArmorSet$$() === 'asc'" [sortedDesc]="sortByArmorSet$$() === 'desc'">
                  Armor Set
                  <core-segmented-options *coreTableHeaderCellSort [value]="sortByArmorSet$$()" (valueChange)="onChangeSort(['armorSetId', $event])" color="accent">
                    <div *coreOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
                    <div *coreOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
                  </core-segmented-options>
                  <core-table-filter-by-search
                    *coreTableHeaderCellFilter
                    [value]="filterByArmorSet$$()"
                    (valueChange)="onChangeFilter({ armorSetId: $event })"
                    sourceName="armorSet"
                    [pickWith]="pickArmorSet"
                  >
                    <div *coreSearchInputLabel="let id">
                      @if (id | armorSetData | async; as data) {
                        <core-multilingual-text-display [value]="data.name"></core-multilingual-text-display>
                      } @else {
                        <!-- TODO -->
                        <!-- <span>Unable to resolve</span>
                      }
                    </div>
                    <div *coreSearchInputSuggestionItem="let item" class="px-4 py-0.5 truncate">
                      <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
                    </div>
                  </core-table-filter-by-search>
                </core-table-header-cell>
                <core-table-header-cell *coreTableHeaderCellDef="'createdAt'" rightAligned [sortedAsc]="sortByCreatedAt$$() === 'asc'" [sortedDesc]="sortByCreatedAt$$() === 'desc'">
                  Created
                  <core-segmented-options *coreTableHeaderCellSort [value]="sortByCreatedAt$$()" (valueChange)="onChangeSort(['createdAt', $event])" color="accent">
                    <div *coreOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
                    <div *coreOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
                  </core-segmented-options>
                </core-table-header-cell>
              </core-table-header-row>
              <core-table-row
                *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
                coreHoverable
                [route]="[item.id]"
              >
                <core-table-cell *coreTableCellDef="'name'">
                  <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
                </core-table-cell>
                <core-table-cell *coreTableCellDef="'armorSetId'">
                  @if (item.armorSetId | armorSetData | async; as armorSet) {
                    <core-multilingual-text-display [value]="armorSet.name"></core-multilingual-text-display>
                  }
                </core-table-cell>
                <core-table-cell *coreTableCellDef="'createdAt'">
                  <core-time-display [date]="item.createdAt" format="yyyy-MM-dd HH:mm"></core-time-display>
                </core-table-cell>
              </core-table-row>
              @if (data$ | async; as data) {
                <core-table-footer-row class="px-4 py-1">
                  <core-table-simple-footer [dataCount]="data.length"></core-table-simple-footer>
                </core-table-footer-row>
              } @else {
                <mhw-loading-footer></mhw-loading-footer>
              }
            </core-table-body>
          </cdk-virtual-scroll-viewport>
        </core-table>
      </div>
    </div> -->
  </div>
</core-sectioned-outlet>