.ds-form-header {
  @apply sticky top-22 flex items-center h-9 ps-4 py-1 z-50;
  @apply border-y border-primary-900 bg-primary-950;
  @apply text-primary-200 text-sm/none;
  -webkit-mask-image: linear-gradient(to right, white, transparent);
}

.ds-base-form {
  @apply grid items-stretch gap-y-1 py-2 px-4;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(2.875rem, auto);
}

.ds-form-label {
  @apply flex items-stretch rounded-l-lg transition-[padding,_background-color];
}
.ds-form-label:has(+ .ds-form-field.ds-form-field-dirty) {
  @apply bg-accent-400/20 px-4;
}

.ds-form-label > label {
  @apply grow flex flex-col py-1;
  @apply justify-center;
}
.ds-form-label.ds-form-label-1-line > label {
  @apply justify-center;
}

.ds-form-label > label > .ds-form-label-title {
  @apply text-primary-200 font-medium text-sm/tight transition-colors;
}
.ds-form-label > label > .ds-form-label-description {
  @apply text-primary-300 font-light text-xs/tight transition-colors;
}
.ds-form-label:has(+ .ds-form-field.ds-form-field-dirty) > label > .ds-form-label-title {
  @apply text-accent-100;
}
.ds-form-label:has(+ .ds-form-field.ds-form-field-dirty) > label > .ds-form-label-description {
  @apply text-accent-200;
}

.ds-form-field {
  @apply flex items-center rounded-r-lg transition-[background-color] text-sm;
}
.ds-form-field.ds-form-field-dirty {
  @apply bg-accent-400/20;
}
.ds-form-field > div {
  @apply w-full bg-transparent border border-primary-700 overflow-hidden transition;
}
.ds-form-field:not(.ds-form-field-readonly) > div {
  @apply bg-primary-900 border-primary-700 rounded-lg;
  @apply hover:border-primary-500;
  @apply focus-within:ring-2 focus-within:ring-primary-500/50;
}
.ds-form-field.ds-form-field-hidden-border > div {
  @apply border-transparent;
}
.ds-form-field.ds-form-field-hidden-border.ds-form-field-readonly > div {
  @apply bg-primary-900;
}