<pui-layered-container>
  <div
    puiSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content>
      <div *puiSidebarMain class="py-4 flex flex-col gap-4">
        <div class="flex justify-between items-center px-4 gap-4">
          @if (data$ | async; as data) {
            <h2 class="text-primary-800 dark:text-primary-200">{{ data.name?.jp }} / {{ data.name?.en }}</h2>
          }
          <div class="flex gap-2 items-center">
            @if (formControl.dirty) {
              <button puiHoverable class="rounded-1 px-3 py-2" (click)="onCancel()">Cancel</button>
              <button puiFilledButton color="primary" class="rounded-1 px-3 py-2" (click)="onSave()">Save</button>
            }
          </div>
        </div>
        <pui-divider></pui-divider>
        <pui-fieldset [formControl]="formControl">
          <pui-field-def
            key="name>en"
            label="English Name"
            fieldType="string"
            [fieldConfig]="{}"
          ></pui-field-def>
          <pui-field-def
            key="name>jp"
            label="Japanese Name"
            fieldType="string"
            [fieldConfig]="{}"
          ></pui-field-def>
          <pui-field-def
            key="rarity"
            label="Rarity"
            fieldType="number"
            [fieldConfig]="{}"
          ></pui-field-def>
          <pui-field-def
            key="rank"
            label="Rank"
            fieldType="string"
            [fieldConfig]="{
              enum: ['base', 'iceborne']
            }"
          ></pui-field-def>
          <pui-field-def
            key="setBonusId"
            label="Set Bonus"
            fieldType="string"
            [fieldConfig]="{
            }"
          ></pui-field-def>
          <pui-field-def
            key="createdAt"
            label="Created At"
            fieldType="date-time"
          ></pui-field-def>
          <pui-field-def
            key="updatedAt"
            label="Updated At"
            fieldType="date-time"
          ></pui-field-def>
        </pui-fieldset>
      </div>
    </pui-sidebar-content>
  </div>
</pui-layered-container>