<pui-layered-container>
  <div
    puiSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content>
      <pui-table
        *puiSidebarMain
        itemHeight="48"
        [columns]="['color', 'name']"
      >
        <pui-table-header-cell *puiTableHeaderCellDef="'color'"></pui-table-header-cell>
        <pui-table-header-cell *puiTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
          Name
          <div *puiTableHeaderCellFilter cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
            <pui-input-field>
              <input
                type="search"
                placeholder="Type to search"
                [value]="filterByName$$() ?? ''"
                (input)="onChangeFilter({ name: $any($event.currentTarget).value })">
            </pui-input-field>
          </div>
        </pui-table-header-cell>

        <pui-table-cell *puiTableCellDef="'color'; let item">
          <div class="hexagon-mask size-6" [style.background-color]="item.color"></div>
        </pui-table-cell>
        <pui-table-cell *puiTableCellDef="'name'; let item">
          {{ item.name?.jp }} / {{ item.name?.en }}
        </pui-table-cell>

        <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
          <pui-table-body style="grid-template-columns: min-content 1fr;">
            <pui-table-header-row>
            </pui-table-header-row>
            <pui-table-row
              *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
              puiHoverable
              [route]="[item.id]"
              [item]="item"
            >
            </pui-table-row>
            <pui-table-footer-row class="px-4 py-1">
              <pui-table-simple-footer></pui-table-simple-footer>
            </pui-table-footer-row>
          </pui-table-body>
        </cdk-virtual-scroll-viewport>
      </pui-table>
      <pui-accordion>
        <mhw-drawer-create *puiSidebarDrawer></mhw-drawer-create>
      </pui-accordion>
    </pui-sidebar-content>
  </div>
</pui-layered-container>