<phead-layered-container>
  <div
    pheadSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div pheadSidebarBreadcrumbs>
      <phead-breadcrumbs></phead-breadcrumbs>
    </div>
    <phead-sidebar-content>
      <phead-table
        *pheadSidebarMain
        itemHeight="48"
        [columns]="['color', 'name']"
      >
        <phead-table-header-cell *pheadTableHeaderCellDef="'color'"></phead-table-header-cell>
        <phead-table-header-cell *pheadTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
          Name
          <div *pheadTableHeaderCellFilter cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
            <phead-input-field>
              <input
                type="search"
                placeholder="Type to search"
                [value]="filterByName$$() ?? ''"
                (input)="onChangeFilter({ name: $any($event.currentTarget).value })">
            </phead-input-field>
          </div>
        </phead-table-header-cell>

        <phead-table-cell *pheadTableCellDef="'color'; let item">
          <div class="hexagon-mask size-6" [style.background-color]="item.color"></div>
        </phead-table-cell>
        <phead-table-cell *pheadTableCellDef="'name'; let item">
          {{ item.name?.jp }} / {{ item.name?.en }}
        </phead-table-cell>

        <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
          <phead-table-body style="grid-template-columns: min-content 1fr;">
            <phead-table-header-row>
            </phead-table-header-row>
            <phead-table-row
              *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
              pheadHoverable
              [route]="[item.id]"
              [item]="item"
            >
            </phead-table-row>
            <phead-table-footer-row class="px-4 py-1">
              <phead-table-simple-footer></phead-table-simple-footer>
            </phead-table-footer-row>
          </phead-table-body>
        </cdk-virtual-scroll-viewport>
      </phead-table>
      <phead-accordion>
        <mhw-drawer-create *pheadSidebarDrawer></mhw-drawer-create>
      </phead-accordion>
    </phead-sidebar-content>
  </div>
</phead-layered-container>