.pui-base-button, .pui-bordered-button, .pui-inverse-button {
  @apply transition-colors;
  @apply disabled:bg-black/15 disabled:dark:bg-white/15 disabled:opacity-70;
  &[data-color=default] {
    /** EMPTY */
  }
  &[data-color=primary] {
    @apply text-primary-600 dark:text-primary-400;
  }
  &[data-color=accent] {
    @apply text-accent-600 dark:text-accent-400;
  }
  &[data-color=gray], &[data-color=grey] {
    @apply text-gray-600 dark:text-gray-400;
  }
  &[data-color=red] {
    @apply text-red-600 dark:text-red-400;
  }
  &[data-color=orange] {
    @apply text-orange-600 dark:text-orange-400;
  }
  &[data-color=amber] {
    @apply text-amber-600 dark:text-amber-400;
  }
  &[data-color=yellow] {
    @apply text-yellow-600 dark:text-yellow-400;
  }
  &[data-color=lime] {
    @apply text-lime-600 dark:text-lime-400;
  }
  &[data-color=green] {
    @apply text-green-600 dark:text-green-400;
  }
  &[data-color=emerald] {
    @apply text-emerald-600 dark:text-emerald-400;
  }
  &[data-color=teal] {
    @apply text-teal-600 dark:text-teal-400;
  }
  &[data-color=cyan] {
    @apply text-cyan-600 dark:text-cyan-400;
  }
  &[data-color=sky] {
    @apply text-sky-600 dark:text-sky-400;
  }
  &[data-color=blue] {
    @apply text-blue-600 dark:text-blue-400;
  }
  &[data-color=indigo] {
    @apply text-indigo-600 dark:text-indigo-400;
  }
  &[data-color=violet] {
    @apply text-violet-600 dark:text-violet-400;
  }
  &[data-color=purple] {
    @apply text-purple-600 dark:text-purple-400;
  }
  &[data-color=fuchsia] {
    @apply text-fuchsia-600 dark:text-fuchsia-400;
  }
  &[data-color=pink] {
    @apply text-pink-600 dark:text-pink-400;
  }
  &[data-color=rose] {
    @apply text-rose-600 dark:text-rose-400;
  }
}

.pui-bordered-button {
  @apply border hover:border-current focus-visible:border-current focus-within:border-current;
}

.pui-filled-button {
  @apply transition-colors;
  @apply disabled:bg-black/15 disabled:dark:bg-white/15 disabled:opacity-70;
  :is(.dark &) {
    box-shadow: inset 0px 2px 6px -4px rgb(255 255 255 / 0.1);
  }
  &[data-color=primary] {
    @apply bg-primary-200 dark:bg-primary-800;
    @apply text-primary-900 dark:text-primary-50;
  }
  &[data-color=accent] {
    @apply bg-accent-200 dark:bg-accent-800;
    @apply text-accent-900 dark:text-accent-50;
  }
  &[data-color=light] {
    @apply bg-white dark:bg-black;
    @apply text-black dark:text-white;
  }
  &[data-color=dark] {
    @apply bg-black dark:bg-white;
    @apply text-white dark:text-black;
    &.pui-hoverable {
      @apply enabled:hover:after:bg-white/15 enabled:hover:after:dark:bg-black/10;
    }
  }
  &[data-color=gray], &[data-color=grey] {
    @apply bg-gray-200 dark:bg-gray-800;
    @apply text-gray-900 dark:text-gray-50;
  }
  &[data-color=red] {
    @apply bg-red-200 dark:bg-red-800;
    @apply text-red-900 dark:text-red-50;
  }
  &[data-color=orange] {
    @apply bg-orange-200 dark:bg-orange-800;
    @apply text-orange-900 dark:text-orange-50;
  }
  &[data-color=amber] {
    @apply bg-amber-200 dark:bg-amber-800;
    @apply text-amber-900 dark:text-amber-50;
  }
  &[data-color=yellow] {
    @apply bg-yellow-200 dark:bg-yellow-800;
    @apply text-yellow-900 dark:text-yellow-50;
  }
  &[data-color=lime] {
    @apply bg-lime-200 dark:bg-lime-800;
    @apply text-lime-900 dark:text-lime-50;
  }
  &[data-color=green] {
    @apply bg-green-200 dark:bg-green-800;
    @apply text-green-900 dark:text-green-50;
  }
  &[data-color=emerald] {
    @apply bg-emerald-200 dark:bg-emerald-800;
    @apply text-emerald-900 dark:text-emerald-50;
  }
  &[data-color=teal] {
    @apply bg-teal-200 dark:bg-teal-800;
    @apply text-teal-900 dark:text-teal-50;
  }
  &[data-color=cyan] {
    @apply bg-cyan-200 dark:bg-cyan-800;
    @apply text-cyan-900 dark:text-cyan-50;
  }
  &[data-color=sky] {
    @apply bg-sky-200 dark:bg-sky-800;
    @apply text-sky-900 dark:text-sky-50;
  }
  &[data-color=blue] {
    @apply bg-blue-200 dark:bg-blue-800;
    @apply text-blue-900 dark:text-blue-50;
  }
  &[data-color=indigo] {
    @apply bg-indigo-200 dark:bg-indigo-800;
    @apply text-indigo-900 dark:text-indigo-50;
  }
  &[data-color=violet] {
    @apply bg-violet-200 dark:bg-violet-800;
    @apply text-violet-900 dark:text-violet-50;
  }
  &[data-color=purple] {
    @apply bg-purple-200 dark:bg-purple-800;
    @apply text-purple-900 dark:text-purple-50;
  }
  &[data-color=fuchsia] {
    @apply bg-fuchsia-200 dark:bg-fuchsia-800;
    @apply text-fuchsia-900 dark:text-fuchsia-50;
  }
  &[data-color=pink] {
    @apply bg-pink-200 dark:bg-pink-800;
    @apply text-pink-900 dark:text-pink-50;
  }
  &[data-color=rose] {
    @apply bg-rose-200 dark:bg-rose-800;
    @apply text-rose-900 dark:text-rose-50;
  }
}

.pui-inverse-button {
  @apply flex items-center justify-center relative;
  @apply focus-visible:bg-hover;
  &[data-color=default] {
    @apply enabled:hover:bg-black enabled:hover:text-white;
    @apply enabled:hover:dark:bg-white enabled:hover:dark:text-black;
  }
  &[data-color=primary] {
    @apply enabled:hover:bg-primary-200 enabled:hover:text-primary-800;
    @apply enabled:hover:dark:bg-primary-800 enabled:hover:dark:text-primary-50;
  }
  &[data-color=accent] {
    @apply enabled:hover:bg-accent-200 enabled:hover:text-accent-800;
    @apply enabled:hover:dark:bg-accent-800 enabled:hover:dark:text-accent-50;
  }
  &[data-color=gray], &[data-color=grey] {
    @apply enabled:hover:bg-gray-200 enabled:hover:text-gray-800;
    @apply enabled:hover:dark:bg-gray-800 enabled:hover:dark:text-gray-50;
  }
  &[data-color=red] {
    @apply enabled:hover:bg-red-200 enabled:hover:text-red-800;
    @apply enabled:hover:dark:bg-red-800 enabled:hover:dark:text-red-50;
  }
  &[data-color=orange] {
    @apply enabled:hover:bg-orange-200 enabled:hover:text-orange-800;
    @apply enabled:hover:dark:bg-orange-800 enabled:hover:dark:text-orange-50;
  }
  &[data-color=amber] {
    @apply enabled:hover:bg-amber-200 enabled:hover:text-amber-800;
    @apply enabled:hover:dark:bg-amber-800 enabled:hover:dark:text-amber-50;
  }
  &[data-color=yellow] {
    @apply enabled:hover:bg-yellow-200 enabled:hover:text-yellow-800;
    @apply enabled:hover:dark:bg-yellow-800 enabled:hover:dark:text-yellow-50;
  }
  &[data-color=lime] {
    @apply enabled:hover:bg-lime-200 enabled:hover:text-lime-800;
    @apply enabled:hover:dark:bg-lime-800 enabled:hover:dark:text-lime-50;
  }
  &[data-color=green] {
    @apply enabled:hover:bg-green-200 enabled:hover:text-green-800;
    @apply enabled:hover:dark:bg-green-800 enabled:hover:dark:text-green-50;
  }
  &[data-color=emerald] {
    @apply enabled:hover:bg-emerald-200 enabled:hover:text-emerald-800;
    @apply enabled:hover:dark:bg-emerald-800 enabled:hover:dark:text-emerald-50;
  }
  &[data-color=teal] {
    @apply enabled:hover:bg-teal-200 enabled:hover:text-teal-800;
    @apply enabled:hover:dark:bg-teal-800 enabled:hover:dark:text-teal-50;
  }
  &[data-color=cyan] {
    @apply enabled:hover:bg-cyan-200 enabled:hover:text-cyan-800;
    @apply enabled:hover:dark:bg-cyan-800 enabled:hover:dark:text-cyan-50;
  }
  &[data-color=sky] {
    @apply enabled:hover:bg-sky-200 enabled:hover:text-sky-800;
    @apply enabled:hover:dark:bg-sky-800 enabled:hover:dark:text-sky-50;
  }
  &[data-color=blue] {
    @apply enabled:hover:bg-blue-200 enabled:hover:text-blue-800;
    @apply enabled:hover:dark:bg-blue-800 enabled:hover:dark:text-blue-50;
  }
  &[data-color=indigo] {
    @apply enabled:hover:bg-indigo-200 enabled:hover:text-indigo-800;
    @apply enabled:hover:dark:bg-indigo-800 enabled:hover:dark:text-indigo-50;
  }
  &[data-color=violet] {
    @apply enabled:hover:bg-violet-200 enabled:hover:text-violet-800;
    @apply enabled:hover:dark:bg-violet-800 enabled:hover:dark:text-violet-50;
  }
  &[data-color=purple] {
    @apply enabled:hover:bg-purple-200 enabled:hover:text-purple-800;
    @apply enabled:hover:dark:bg-purple-800 enabled:hover:dark:text-purple-50;
  }
  &[data-color=fuchsia] {
    @apply enabled:hover:bg-fuchsia-200 enabled:hover:text-fuchsia-800;
    @apply enabled:hover:dark:bg-fuchsia-800 enabled:hover:dark:text-fuchsia-50;
  }
  &[data-color=pink] {
    @apply enabled:hover:bg-pink-200 enabled:hover:text-pink-800;
    @apply enabled:hover:dark:bg-pink-800 enabled:hover:dark:text-pink-50;
  }
  &[data-color=rose] {
    @apply enabled:hover:bg-rose-200 enabled:hover:text-rose-800;
    @apply enabled:hover:dark:bg-rose-800 enabled:hover:dark:text-rose-50;
  }
}