@utility pui-overlay__enter {
  opacity: 1;
  scale: 1;
  translate: 0 0;
  @starting-style {
		opacity: 0;
		scale: 0.95;
		translate: 0 -1rem;
  }
  transition-property: opacity, scale, translate;
  transition-duration: 75ms;
  transition-timing-function: ease-out;
}

@utility pui-overlay__leave {
  opacity: 0;
  scale: 0.95;
  translate: 0 -1rem;
  transition-property: opacity, scale, translate;
  transition-duration: 75ms;
  transition-timing-function: ease-out;
}