@media (hover: hover) and (pointer: fine) {
  :where([data-os=other]) {
    ::-webkit-scrollbar {
      background: hsl(0, 0%, 15%);
      width: 0.625rem;
      height: 0.625rem;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 9999px;
      box-shadow: inset 0 0 0 10rem hsl(0, 0%, 35%);
      border: 0.1875rem solid transparent;
      min-height: 3rem;
    }
    ::-webkit-scrollbar-thumb:hover {
      border-radius: 9998px;
      box-shadow: inset 0 0 0 10px hsl(0, 0%, 55%);
    }
    ::-webkit-scrollbar-thumb:active {
      box-shadow: inset 0 0 0 10px hsl(0, 0%, 75%);
    }

    ::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}