<div>
  @for (item of items; track item.id) {
    @switch (item.type) {
      @case ('button') {
      <button
        [id]="$any(item).id"
        type="button"
        class="rounded shrink-0 group disabled:cursor-not-allowed"
        appBaseButton
        (click)="$any(item).onClick($event)"
        [disabled]="$any(item).isDisabled"
      >
        <div class="flex flex-col items-center gap-1 px-1 py-1 w-20">
          <span
            class="font-symbols icon-5 text-primary-50 transition-colors group-disabled:text-opacity-60"
            >{{ $any(item).icon }}</span
          >
          <span
            class="text-xs/none font-light text-primary-200 transition-colors truncate max-w-full group-disabled:text-opacity-60"
            >{{ $any(item).title }}</span
          >
        </div>
      </button>
      } @case ('divider') {
      <div class="border-r border-primary-700 shrink-0 h-4/5 mx-1"></div>
      } @case ('link') {
      <a
        class="rounded shrink-0"
        appBaseButton
        [routerLink]="$any(item).isDisabled ? null : $any(item).link"
      >
        <div class="flex flex-col items-center gap-1 px-1 py-1 w-20">
          <span class="font-symbols icon-5 text-primary-50">{{
            $any(item).icon
          }}</span>
          <span
            class="text-xs/none font-light text-primary-200 truncate max-w-full"
            >{{ $any(item).title }}</span
          >
        </div>
      </a>
      } @case ('custom-view') {
      <div class="shrink-0">
        <ng-container [ngTemplateOutlet]="$any(item).templateRef"></ng-container>
      </div>
      }
    }
  }
</div>
