<core-sectioned-outlet>
  <div
    class="h-full overflow-x-hidden overflow-y-auto flex flex-col"
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div class="sticky top-0 px-3 py-3 flex-none border-b bg-side-content">
      <core-breadcrumbs></core-breadcrumbs>
    </div>
    <div class="flex grow">
      <div class="gutter-stable grow">
        <core-table itemHeight="48" [columns]="['key', 'valueType']" borderless>
          <core-table-cell *coreTableCellDef="'key'; let row">
            <div class="flex justify-between items-center basis-full">
              <span>{{ row.label }}</span>
              <span class="text-sm uppercase font-medium text-primary-800 dark:text-primary-200">{{ row.valueType }}</span>
            </div>
          </core-table-cell>
          <core-table-cell *coreTableCellDef="'valueType'; let row">
            @switch (row.valueType) {
              @case ('string') {
                <div class="bg-lunar-green-800 rounded-1 w-full min-h-8 overflow-hidden has-focus-visible:outline has-focus-visible:outline-2 has-focus-visible:outline-primary-500 has-focus-visible:bg-primary-950">
                  <input coreInputField type="text" class="size-full min-h-8 px-2 py-0.5">
                </div>
              }
            }
          </core-table-cell>

          <core-table-body>
            @for (field of fields; track field.key) {
              <core-table-row [item]="field"></core-table-row>
            }
          </core-table-body>
        </core-table>
      </div>
    </div>
  </div>
</core-sectioned-outlet>
<!-- <form
  class="h-full relative flex flex-col overflow-x-hidden overflow-y-auto gutter-stable"
  cdkVirtualScrollingElement
  cdkScrollable
  (submit)="onSave()"
>
  <div class="bg-deep-glass grow p-2">
    <div class="flex flex-col">
      <core-simple-header coreStickyHeader>
        @if (data$ | async; as data) {
          <h2 *coreHeader><core-multilingual-text-display [value]="data.name"></core-multilingual-text-display></h2>
        }
      </core-simple-header>
      <div class="flex flex-col gap-4 pt-4" [formGroup]="formGroup">
        <core-form-fieldset>
          <core-form-field>
            <div *coreFormFieldLabel>Name</div>
            <div *coreFormFieldDescription>Optional</div>
            <core-multilingual-text-edit *coreFormFieldInput formControlName="name"></core-multilingual-text-edit>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel>Rarity</div>
            <core-rating-edit *coreFormFieldInput max="12" min="1" formControlName="rarity"></core-rating-edit>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel>Rank</div>
            <core-segmented-options *coreFormFieldInput formControlName="rank" class="me-2" color="accent">
              <div *coreOption="'base'">Base</div>
              <div *coreOption="'iceborne'">Iceborne</div>
            </core-segmented-options>
          </core-form-field>
          <core-form-field>
            <div *coreFormFieldLabel>Set Bonus</div>
            <core-search-input
              *coreFormFieldInput
              formControlName="setBonusId"
              sourceName="armorSetBonus"
              [pickWith]="pickArmorSetBonus"
              class="ps-4 pe-2 py-2"
              coreHoverable
            >
              <div *coreSearchInputLabel="let id">
                @if (id | armorSetBonusData | async; as data) {
                  <core-multilingual-text-display [value]="data.name"></core-multilingual-text-display>
                } @else {
                  TODO
                  <span>Unable to resolve</span>
                }
              </div>
              <div *coreSearchInputSuggestionItem="let item" class="px-4 py-0.5 truncate">
                <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
              </div>
            </core-search-input>
          </core-form-field>
        </core-form-fieldset>
      </div>
    </div>
  </div>
  @if (data$ | async; as data) {
    <core-supplementary-panel
      class="mt-4"
      [createdAt]="data.createdAt"
      [updatedAt]="data.updatedAt"
    >
    </core-supplementary-panel>
  }
  <core-form-submit
    [dirty]="formGroup.dirty"
    [disabled]="formGroup.disabled"
    (saveClick)="onSave()"
    (cancelClick)="onCancel()"
  ></core-form-submit>
</form> -->