@use './tab-bar.css';
@use './table.css';
@use './fieldset.css';
@use './array-field.css';
@use './breadcrumbs.css';
@use './time-display.css';
@use './toggle.css';
@use './tooltip.css';
@use './vertical-navigation-menu.css';
@use './autocomplete.css';
@use './calendar.css';
@use './snackbar.css';
@use './modal-dialog.css';
@use './dropdown.css';
@use './loading-panel.css';
@use './divider.css';
@use './form-field.css';
@use './section-card.css';

.pui-linear-progress-display {
  @apply w-full flex items-center gap-1 overflow-hidden;
}
