@import './tab-bar.css';
@import './table.css';
@import './fieldset.css';
@import './array-field.css';
@import './breadcrumbs.css';
@import './time-display.css';
@import './toggle.css';
@import './tooltip.css';
@import './vertical-navigation-menu.css';
@import './autocomplete.css';
@import './calendar.css';
@import './snackbar.css';
@import './modal-dialog.css';
@import './dropdown.css';
@import './loading-panel.css';
@import './divider.css';
@import './form-field.css';
@import './section-card.css';

@utility pui-linear-progress-display {
  @apply w-full flex items-center gap-1 overflow-hidden;
}