@utility pui-array-field {
  @apply pe-4;
  @apply rounded-5;
  > div {
    @apply flex flex-row items-stretch;
  }
}

@utility pui-array-field__icon {
  @apply self-center icon-5 me-1 text-primary-600 dark:text-primary-400;
}

@utility pui-array-field__label {
  @apply text-neutral-800 dark:text-neutral-300;
  @apply text-sm truncate font-light;
  @apply pe-2 self-center;
}

@utility pui-array-field__length-control {
  &:first-of-type {
    @apply rounded-s-5 rounded-e-none border-y border-s ps-3 pe-2;
  }
  &:last-of-type {
    @apply rounded-e-5 rounded-s-none border-y border-e ps-2 pe-3;
  }
  > i {
    @apply icon-4;
  }
}

@utility pui-array-field__length-field {
  @apply basis-20 shrink rounded-none;
  flex-grow: 0 !important;
}