@utility pui-vanilla-calendar-pro {
  [data-vc=calendar].vc {
    @apply pui-card backdrop-blur-xl;
  }

  [data-vc-theme=dark] .vc-month, [data-vc-theme=dark] .vc-year {
    @apply hover:text-primary-200;
  }

  [data-vc-theme=dark] .vc-months__month, [data-vc-theme=dark] .vc-years__year {
    @apply bg-transparent;
    @apply hover:bg-hover/10 dark:hover:bg-hover-dark/7 hover:text-primary-200;
  }

  [data-vc-theme=dark] .vc-months__month[data-vc-months-month-selected],
  [data-vc-theme=dark] .vc-years__year[data-vc-years-year-selected] {
    @apply bg-primary-700 text-primary-50;
    @apply hover:bg-primary-600 hover:text-primary-50;
  }

  [data-vc-theme=dark] .vc-date__btn {
    @apply bg-transparent;
    @apply hover:bg-hover/10 dark:hover:bg-hover-dark/7 hover:text-primary-200;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-today] .vc-date__btn {
    @apply bg-transparent;
    @apply border-primary-400 border;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-today][data-vc-date-weekend] .vc-date__btn {
    @apply bg-transparent;
    @apply border-red-400 border;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-weekend] .vc-date__btn {
    @apply hover:bg-hover/10 dark:hover:bg-hover-dark/7;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-weekend][data-vc-date-month=prev] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-weekend][data-vc-date-month=next] .vc-date__btn {
    @apply bg-transparent;
    @apply hover:bg-hover/10 dark:hover:bg-hover-dark/7;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-selected] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-weekend] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-today][data-vc-date-weekend] .vc-date__btn {
    @apply bg-primary-700 text-primary-50;
    @apply hover:bg-primary-600 hover:text-primary-50;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-weekend] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-today][data-vc-date-weekend] .vc-date__btn {
    @apply bg-primary-900 text-primary-50;
    @apply hover:bg-primary-800 hover:text-primary-50;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-month=prev] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-month=next] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-weekend][data-vc-date-month=prev] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-weekend][data-vc-date-month=next] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-today][data-vc-date-weekend][data-vc-date-month=prev] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-today][data-vc-date-weekend][data-vc-date-month=next] .vc-date__btn {
    @apply bg-primary-900 text-primary-200 border border-primary-700;
    @apply hover:bg-hover/10 dark:hover:bg-hover-dark/7;
  }

  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-month=prev] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-weekend][data-vc-date-month=prev] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-today][data-vc-date-weekend][data-vc-date-month=prev] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-month=next] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-weekend][data-vc-date-month=next] .vc-date__btn,
  [data-vc-theme=dark] .vc-date[data-vc-date-selected][data-vc-date-selected=middle][data-vc-date-today][data-vc-date-weekend][data-vc-date-month=next] .vc-date__btn {
    @apply bg-primary-950 text-primary-50;
    @apply hover:bg-primary-800 hover:text-primary-50;
  }

  [data-vc-theme=dark] .vc-time__hour input, [data-vc-theme=dark] .vc-time__minute input {
    @apply bg-transparent;
    @apply hover:bg-hover/10 dark:hover:bg-hover-dark/7;
    @apply focus-visible:outline-primary-500;
    &[data-vc-input-focus] {
      @apply hover:bg-hover/10 dark:hover:bg-hover-dark/7;
    }
  }

  [data-vc-theme=dark] .vc-time {
    @apply border-neutral-800;
  }

  [data-vc-theme=dark] .vc-time__range {
    @apply before:bg-neutral-600 after:bg-neutral-600;
  }

  [data-vc-theme=dark] .vc-time__range input {
    @apply bg-transparent;
    &::-webkit-slider-runnable-track {
      @apply bg-neutral-600;
    }
    &::-moz-range-track {
      @apply bg-neutral-600;
    }
    &::-webkit-slider-thumb {
      @apply bg-primary-600;
    }
    &::-moz-range-thumb {
      @apply bg-primary-600;
    }
  }
}