@utility pui-fieldset {
  @apply flex flex-col gap-y-4;
  @apply max-w-screen-lg;
}

@utility pui-fieldset__field {
  @apply flex flex-col gap-y-1 flex-none;
}

@utility pui-fieldset__label {
  @apply flex justify-between items-center;
  @apply px-4 py-1 gap-1;
  @apply text-base font-light text-neutral-800 dark:text-neutral-300;
  @apply transition-colors;
  &:hover, &:has(+ :hover), &:has(+ :focus-within) {
    @apply text-primary-800 dark:text-primary-200;
  }
}

@utility pui-fieldset__input {
  @apply flex justify-between items-start gap-2;
  @apply min-h-9;
  > * {
    @apply grow shrink min-w-0;
  }
  > button {
    @apply size-9 px-2 rounded-full flex-none;
    i {
      @apply icon-4;
    }
  }
  .pui-input-field {
    @apply self-stretch grow text-base;
    > button {
      @apply self-stretch px-3 text-neutral-800 dark:text-neutral-300;
      i {
        @apply icon-4;
      }
    }
    > .pui-time-display {
      @apply grow h-full flex items-center;
    }
  }
}
@utility pui-fieldset__input--boolean {
  .pui-input-field {
    @apply py-1 ps-1;
  }
}
@utility pui-fieldset__input--boolean__remarks {
  @apply flex items-center h-full;
  @apply text-sm text-neutral-800 dark:text-neutral-300 cursor-pointer;
  @apply ps-3 pe-3 grow wrap-anywhere truncate;
}

@utility pui-fieldset__null {
  @apply self-stretch grow flex items-center;
  @apply px-4;
  @apply rounded-5 border;
  > span {
    @apply grow truncate text-neutral-800 dark:text-neutral-300;
    @apply leading-9 truncate text-sm italic font-light;
  }
}

@utility pui-fieldset__input__remove {
  @apply self-stretch;
}
@utility pui-fieldset__null__add {
  @apply self-stretch;
}

@utility pui-fieldset__enum-value {
  @apply wrap-anywhere;
}