@utility pui-form-display {
  @apply flex flex-col gap-4;
}

@utility pui-form-field {
  @apply flex flex-row items-center gap-2;
  @apply mx-4 @screen-sm/layout:mx-8;
  &:has(:focus, :focus-within, :focus-visible, :active) {
    .pui-form-field__icon {
      @apply font-variation-fill text-primary-700 dark:text-primary-300;
    }
  }
  padding-inline-start: calc(var(--pui-pad-start) * 2rem);
}

@utility pui-form-field__icon {
  @apply empty:hidden;
  @apply icon-6 flex-none font-variation-weight-light text-neutral-700 dark:text-neutral-300;
  i {
    @apply not-italic;
  }
}

@utility pui-form-field__main {
  @apply flex flex-col gap-0.5 grow;
}

@utility pui-form-field__title {
  @apply text-base font-medium px-2;
  &:empty {
    @apply hidden;
  }
  &:has(+ .pui-form-field__description:empty) {
    @apply pb-1;
  }
  &:has(+ .pui-form-field__description:empty + .pui-form-field__content:empty) {
    @apply pb-0;
  }
}

@utility pui-form-field__description {
  @apply empty:hidden;
  @apply text-sm text-neutral-700 dark:text-neutral-300 px-2 pb-1;
}

@utility pui-form-field__content {
  @apply text-base wrap-anywhere;
  > span {
    @apply px-2;
  }
}
