@utility pui-modal-dialog-backdrop {
  @apply bg-black/10 dark:bg-black/20 backdrop-blur-sm z-[1000];
}
@utility pui-modal-dialog {
  @apply border shadow-lg bg-neutral-100 dark:bg-neutral-900 rounded-8 max-h-[80svh] sm:max-h-[70svh] lg:max-h-[60svh] overflow-auto;

  @apply data-[mode=dialog]:max-w-[95svw] data-[mode=dialog]:sm:min-w-120 data-[mode=dialog]:sm:max-w-[80svw] data-[mode=dialog]:xl:max-w-screen-lg;
  @apply data-[mode=modal]:w-96 data-[mode=modal]:max-w-[80svw] data-[mode=modal]:sm:max-w-96;

  &[data-mode=dialog] .pui-modal-dialog__contents {
    @apply grid px-8 py-8 gap-y-4;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "icon title"
                         "placeholder details"
                         "placeholder actions";
  }
  &[data-mode=modal] .pui-modal-dialog__contents {
    @apply grid px-8 py-8 text-center place-items-center gap-y-4;
    grid-template-columns: 1fr;
    grid-template-areas: "icon"
                         "title"
                         "details"
                         "actions";
  }
  .pui-modal-dialog__icon {
    grid-area: icon;
    @apply text-primary-600 dark:text-primary-500;
  }
  .pui-modal-dialog__title {
    grid-area: title;
    @apply p-0 self-center text-primary-800 dark:text-primary-200;
  }
  .pui-modal-dialog__details {
    grid-area: details;
    @apply text-neutral-950 dark:text-neutral-50;
  }
  &[data-mode=dialog] {
    .pui-modal-dialog__icon {
      @apply icon-12 me-4;
    }
  }
  &[data-mode=modal] {
    .pui-modal-dialog__icon {
      @apply icon-12;
    }
  }
  .pui-modal-dialog__actions {
    grid-area: actions;
    @apply flex flex-col gap-2 sm:gap-4 sm:flex-row sm:justify-between;
    > button {
      @apply w-full sm:w-auto sm:max-w-[50%] rounded-full px-6 py-3 font-medium;
    }
  }
}

@utility pui-remove-confirm {
  @apply flex flex-col text-md/6;
  .pui-input-field {
    @apply mt-2;
  }
}
@utility pui-remove-confirm__goal {
  @apply font-mono text-neutral-700 dark:text-neutral-300;
}