.\@container\/table {
  container-type: inline-size;
  container-name: table;
}

.pui-table {
  @apply block size-full;
}

.pui-table-body {
  @apply grid gap-x-1 auto-cols-fr;
  grid-template-columns: var(--pui-table-columns)
}

.pui-table-row {
  @apply grid grid-cols-subgrid relative;
  grid-column-start: 1;
  grid-column-end: span var(--pui-table-number-of-columns);
  .pui-table--single &::before {
    content: 'radio_button_unchecked';
    @apply icon-4 absolute left-1 transition-colors;
  }
  .pui-table--single &.pui-table-row--selected::before {
    content: 'radio_button_checked';
    @apply text-primary-600 dark:text-primary-400;
  }
  .pui-table--multi &::before {
    content: 'check_box_outline_blank';
    @apply icon-4 absolute left-1 transition-colors;
  }
  .pui-table--multi &.pui-table-row--selected::before {
    content: 'check_box';
    @apply text-primary-600 dark:text-primary-400;
  }
  &.pui-table-row--selected {
    @apply bg-hover;
  }
  > a {
    @apply grid grid-cols-subgrid relative border-b;
    grid-column-start: 1;
    grid-column-end: span var(--pui-table-number-of-columns);
    &[data-active=true] {
      @apply bg-hover;
    }
    .pui-table--single & {
      @apply ml-6;
    }
    .pui-table--multi & {
      @apply ml-6;
    }
  }
}

.pui-table-row:last-child {
  > a {
    @apply border-b-0;
  }
}

.pui-table-header-row {
  @apply grid grid-cols-subgrid h-12 mb-1;
  @apply relative;
  grid-column-start: 1;
  grid-column-end: span var(--pui-table-number-of-columns);
  .pui-table--single & {
    @apply ml-6;
  }
  .pui-table--multi & {
    @apply ml-6;
  }
}

.pui-table-header-row__resize-handle {
  @apply absolute h-full w-1 cursor-ew-resize z-10;
  left: anchor(right);
  @apply before:pointer-events-none before:-top-0.5 before:-bottom-0.5 before:-left-px before:-right-px before:absolute before:bg-transparent before:rounded-1 before:transition-colors;
  &:active, &:hover {
    @apply before:bg-primary-600;
  }
}

.pui-table-footer-row {
  @apply grid grid-cols-1 items-center dark:text-neutral-300 uppercase h-12;
  grid-column-start: 1;
  grid-column-end: span var(--pui-table-number-of-columns);
}

.pui-table-cell {
  /** truncate and line-clamp-1 will not work */
  /** please add truncate on the element inside the table cell */
  @apply px-4 py-2 flex items-center;
  @apply text-base;
  &[data-justify-center=true] {
    @apply justify-center;
  }
  &[data-justify-end=true] {
    @apply justify-end;
  }
}

.pui-table-header-cell--empty {
  @apply rounded-1 border-b;
  @apply border-primary-100 dark:border-neutral-900;
  @apply bg-primary-300 dark:bg-neutral-700;
  @apply text-primary-950 dark:text-neutral-300;
  box-shadow: inset 0px 1px 3px -1px rgb(0 0 0 / 0.2);
  :is(.dark &) {
    box-shadow: inset 0px 1px 3px -1px rgb(255 255 255 / 0.05);
  }
  &:first-child {
    @apply rounded-tl-2;
  }
  &:last-child {
    @apply rounded-tr-2;
  }
}

.pui-table-header-cell {
  @apply flex size-full;
  > button {
    @apply flex justify-start px-4 size-full;
    @apply rounded-1 border-b;
    @apply border-primary-100 dark:border-neutral-900;
    @apply bg-primary-300 dark:bg-neutral-700;
    @apply text-primary-950 dark:text-neutral-300;
    box-shadow: inset 0px 1px 3px -1px rgb(0 0 0 / 0.2);
    :is(.dark &) {
      box-shadow: inset 0px 1px 3px -1px rgb(255 255 255 / 0.05);
    }
    &[data-justify-center=true] {
      @apply justify-center;
    }
    &[data-justify-end=true] {
      @apply justify-end;
    }
  }
  &:first-child > button {
    @apply rounded-tl-2;
  }
  &:last-child > button {
    @apply rounded-tr-2;
  }
}
.pui-table-header-cell__label {
  @apply truncate text-sm whitespace-nowrap font-bold;
}
.pui-table-header-cell__gap {
  @apply grow basis-2;
  [data-justify-center=true] & {
    @apply grow-0 shrink-0 basis-2;
  }
  [data-justify-end=true] & {
    @apply grow-0 shrink-0 basis-2;
  }
  [data-justify-center=true][data-sorted=false] & {
    @apply basis-0;
  }
  [data-justify-end=true][data-sorted=false] & {
    @apply basis-0;
  }
}
.pui-table-header-cell__state {
  i.pui-table-header-cell__sort {
    &[data-descending=true]::after {
      @apply icon-5 font-variation-weight-light text-primary-800 dark:text-primary-400;
      content: 'sort';
    }
    &[data-ascending=true]::after {
      @apply icon-5 font-variation-weight-light text-primary-800 dark:text-primary-400;
      content: 'sort';
      @apply rotate-180 -scale-x-100;
    }
  }
}

.pui-table .cdk-virtual-scroll-viewport {
  display: grid !important;
  @apply w-full overflow-hidden;
  @apply grid-cols-subgrid;
  grid-column-start: 1;
  grid-column-end: span var(--pui-table-number-of-columns);
  grid-auto-rows: 3rem; // TODO item height
  contain: unset !important;
  .cdk-virtual-scroll-content-wrapper {
    display: grid !important;
    @apply grid-cols-subgrid;
    grid-column-start: 1;
    grid-column-end: span var(--pui-table-number-of-columns);
    position: relative !important;
    contain: unset !important;
  }
  .cdk-virtual-scroll-spacer {
    display: none;
  }
}