.\@container\/table {
  container-type: inline-size;
  container-name: table;
}
.pui-table {
  @apply block size-full;

  .pui-table-body {
    @apply grid gap-x-1 auto-cols-fr;
    grid-template-columns: var(--pui-table-columns)
  }

  .pui-table-row {
    @apply grid grid-cols-subgrid;
    grid-column-start: 1;
    grid-column-end: span var(--pui-table-number-of-columns);
    > a {
      @apply grid grid-cols-subgrid relative border-b;
      grid-column-start: 1;
      grid-column-end: span var(--pui-table-number-of-columns);
      &[data-active=true] {
        @apply bg-hover;
      }
    }
  }

  .pui-table-row:last-child {
    > a {
      @apply border-b-0;
    }
  }

  .pui-table-header-row {
    @apply grid grid-cols-subgrid h-12 mb-1;
    grid-column-start: 1;
    grid-column-end: span var(--pui-table-number-of-columns);
  }

  .pui-table-footer-row {
    @apply grid grid-cols-1 items-center text-secondary uppercase h-12;
    grid-column-start: 1;
    grid-column-end: span var(--pui-table-number-of-columns);
  }

  .pui-table-cell {
    /** truncate and line-clamp-1 will not work */
    /** please add truncate on the element inside the table cell */
    @apply px-4 py-2 flex items-center;
    @apply text-base;
    &[data-justify-end=true] {
      @apply justify-end;
    }
  }

  .pui-table-header-cell {
    @apply flex;
    @apply text-sm;
    // &:last-child {
    //   @apply border-e-0;
    // }
    &:first-child > button {
      @apply rounded-tl-2;
    }
    &:last-child > button {
      @apply rounded-tr-2;
    }
    > button {
      @apply grow justify-start whitespace-nowrap font-medium px-4;
      @apply rounded-1 border-b;
      @apply border-primary-100 dark:border-primary-900;
      @apply bg-primary-300 dark:bg-primary-800;
      @apply text-primary-950 dark:text-primary-50;
      box-shadow: inset 0px 1px 3px -1px rgb(0 0 0 / 0.2);
      :is(.dark &) {
        box-shadow: inset 0px 1px 3px -1px rgb(255 255 255 / 0.2);
      }
      &[data-overlay=true] {
        @apply bg-hover;
      }
      &[data-justify-end=true] {
        @apply justify-end;
      }

      .pui-table-header-cell__gap {
        @apply grow;
      }
      &[data-justify-end=true] {
        .pui-table-header-cell__gap {
          @apply grow-0 shrink-0 basis-1;
        }
      }

      .pui-table-header-cell__label {
        @apply truncate;
      }

      .pui-table-header-cell__state {
        @apply flex gap-2;
        .pui-table-header-cell__state__active {
          @apply rounded-full bg-primary-300 dark:bg-primary-600 text-primary-950 p-0.5 -my-0.5;
        }
      }

      i {
        @apply icon-4;
        &.pui-table-header-cell__sort-asc {
          @apply rotate-180 -scale-x-100;
        }
      }
    }
  }
}

.pui-table-header-cell-overlay {
  // TODO
  @apply bg-neutral-200 dark:bg-neutral-800 shadow-lg border rounded-1 px-3 py-2 w-full overflow-auto max-h-full;
  @apply flex flex-col;

  pui-divider {
    @apply my-2 -mx-3;
  }
}

.pui-table .cdk-virtual-scroll-viewport {
  display: grid !important;
  @apply w-full;
  @apply grid-cols-subgrid;
  grid-column-start: 1;
  grid-column-end: span var(--pui-table-number-of-columns);
  grid-auto-rows: 3rem; // TODO item height
  contain: unset !important;
  .cdk-virtual-scroll-content-wrapper {
    display: grid !important;
    @apply grid-cols-subgrid;
    grid-column-start: 1;
    grid-column-end: span var(--pui-table-number-of-columns);
    position: relative !important;
    contain: unset !important;
  }
  .cdk-virtual-scroll-spacer {
    display: none;
  }
}