.pui-vertical-navigation-menu {
  > div {
    @apply flex flex-col gap-1 overflow-y-auto px-4 py-3 relative;
    &::after {
      @apply absolute rounded-5 pointer-events-none -z-10 h-10;
      @apply bg-primary-200 dark:bg-primary-800;
      content: '';
      position-anchor: --navigation-menu-active;
      position-visibility: anchors-visible;
      top: anchor(top);
      left: anchor(left);
      right: anchor(right);
      /** anchoring to bottom causes strange animations */
    }
  }

  .pui-divider {
    @apply px-3;
  }
}

.pui-vertical-navigation-menu__item {
  @apply flex-none text-start items-center justify-start ps-4 pe-3 py-2.5 h-10 rounded-full;
  .spacer {
    @apply grow shrink-0 basis-auto;
  }
}

.pui-vertical-navigation-menu__item--opened {
  @apply text-primary-700 dark:text-primary-300;
}
.pui-vertical-navigation-menu__item--active {
  anchor-name: --navigation-menu-active;
}

.pui-vertical-navigation-menu__item__icon {
  @apply icon-5;
}
.pui-vertical-navigation-menu__item__label {
  @apply font-light truncate;
  &:not(:first-child) {
    @apply ps-2;
  }
  :is(.pui-vertical-navigation-menu__item--opened > &) {
    @apply font-medium;
  }
}
.pui-vertical-navigation-menu__item__indicator {
  @apply icon-4 text-neutral-800 dark:text-neutral-200 transition;
  :is(.pui-vertical-navigation-menu__item--opened > &) {
    @apply rotate-180;
    @apply text-primary-700 dark:text-primary-300;
  }
}

.pui-vertical-navigation-menu__group {
  @apply flex flex-col gap-1 my-0 relative transition-all;
  @apply before:absolute before:inset-0 before:pui-card--subtle before:rounded-[1.375rem] before:transition-all;
  &:has(> .pui-vertical-navigation-menu__item--opened) {
    @apply my-2;
    @apply before:-inset-1;
  }
  &:has(> .pui-vertical-navigation-menu__item--opened) > .pui-vertical-navigation-menu__group__children > * {
    @apply mx-1;
  }
}

.pui-vertical-navigation-menu__group__children {
  @apply h-0 pb-0.5 overflow-hidden hidden;
  .pui-vertical-navigation-menu__item--opened + & {
    @apply h-auto flex flex-col gap-1;
  }
}