<div class="flex sm:flex-col items-center sm:mx-auto sm:mt-3 max-sm:gap-2 sm:gap-4">
  <button puiHoverable class="rounded-2 sm:flex-col px-1 mx-auto">
    <img
      src="../../../assets/logos/logo_square.png"
      class="size-12 sm:size-16 p-3 object-contain dark:invert shrink-0"
    />
    <div class="font-display uppercase leading-none flex flex-col max-sm:me-4 sm:mb-3">
      <span class="text-primary-800 dark:text-primary-200 font-medium" style="font-size: 0.75rem;">Database</span>
      <span class="text-primary-600 dark:text-primary-500" style="font-size: 0.6rem;">Dashboard</span>
    </div>
  </button>
  <pui-global-search-button></pui-global-search-button>
</div>