import { Injectable, signal } from '@angular/core';
import { TabConfig, VerticalLayoutDataProvider } from 'portal-ui-ng/pages';

@Injectable()
export class <%= classify(name) %>ListService implements VerticalLayoutDataProvider {

  heading = signal('<%= classify(name) %>');
  tabs = signal<TabConfig[]>([
    {
      label: 'Raw',
      route: ['raw']
    }
  ]);
}
