<core-sectioned-outlet>
  <div
    coreSidebarContainer
  >
    <div coreSidebarBreadcrumbs>
      <core-breadcrumbs></core-breadcrumbs>
    </div>
    <core-sidebar-content>
      <core-fieldset *coreSidebarMain [formControl]="formControl">
        <core-field-def
          coreFieldDef="name>en"
          coreFieldDefLabel="English Name"
          coreFieldType="string"
        ></core-field-def>
        <core-field-def
          coreFieldDef="name>jp"
          coreFieldDefLabel="Japanese Name"
          coreFieldType="string"
        ></core-field-def>
        <core-field-def
          coreFieldDef="position"
          coreFieldDefLabel="Position"
          coreFieldType="string"
          [fieldConfig]="{
            enum: armorPosition
          }"
        ></core-field-def>
        <core-field-def
          coreFieldDef="armorSetId"
          coreFieldDefLabel="Armor Set"
          coreFieldType="string"
        ></core-field-def>
        <core-field-def
          coreFieldDef="baseDef"
          coreFieldDefLabel="Base Defense"
          coreFieldType="number"
        ></core-field-def>
        <core-field-def
          coreFieldDef="maxDef"
          coreFieldDefLabel="Max Defense"
          coreFieldType="number"
        ></core-field-def>
        <core-field-def
          coreFieldDef="maxLevel"
          coreFieldDefLabel="Max Level"
          coreFieldType="number"
        ></core-field-def>
        <core-field-def
          coreFieldDef="createdAt"
          coreFieldDefLabel="Created At"
          coreFieldType="date-time"
        ></core-field-def>
        <core-field-def
          coreFieldDef="updatedAt"
          coreFieldDefLabel="Updated At"
          coreFieldType="date-time"
        ></core-field-def>
      </core-fieldset>
    </core-sidebar-content>
  </div>
</core-sectioned-outlet>