<div class="sticky top-0 h-100vh bg-primary-900 border-r border-primary-700 text-primary-50" [ngClass]="{
  'min-w-24 max-w-36': (tabs$ | async)?.length! > 0,
  'w-0': (tabs$ | async)?.length! == 0
  }">
  <div class="flex flex-col">
    <!-- tabs -->
    <div class="flex flex-col grow">
      @for (tab of tabs$ | async; track tab.id) {
        @if (tab.type === 'tab' || tab.type == null) {
          <a
            appBaseButton
            class="self-stretch flex items-center justify-center py-2 group"
            [routerLink]="tab.route"
            [relativeTo]="route"
            routerLinkActive
            #active="routerLinkActive"
            >
            @if (tab.title && tab.icon) {
              <div
                class="flex flex-col gap-1 px-2 justify-center items-center"
                >
                <div
                  class="transition-[background-color,_border-radius,_width] h-8 flex items-center justify-center"
                  [ngClass]="{
                  'bg-primary-700 rounded-2xl w-12 font-variation-fill': active.isActive,
                  'group-hover:bg-primary-800 group-focus-within:bg-primary-800 rounded w-8': !active.isActive
                  }"
                  >
                  <span class="font-symbols icon-6">{{ tab.icon }}</span>
                </div>
                <span class="text-sm/tight text-center">{{ tab.title }}</span>
              </div>
            } @else {
              <div
                class="transition-[background-color,_border-radius] px-2 py-2 mx-2 text-sm/none flex justify-center items-center text-center"
                [ngClass]="{
                'bg-primary-700 rounded-2xl': active.isActive,
                'group-hover:bg-primary-800 group-focus-within:bg-primary-800 rounded-md': !active.isActive
                }"
                >
                @if (tab.title) {
                  {{ tab.title }}
                }
            </div>
          }
          </a>
        } @else if (tab.type === 'header') {
          <span class="w-full text-xs/tight text-primary-300 uppercase font-medium tracking-wide px-2.5 pt-3 pb-2 flex items-center gap-2 before:inline-block before:h-0.5 before:bg-primary-400 before:flex-1 after:inline-block after:h-0.5 after:bg-primary-400 after:flex-1">{{ tab.title }}</span>
        }
      }
  </div>
</div>
</div>