<div class="sticky top-0 h-100vh min-w-20 bg-primary-900 border-r border-primary-700 text-primary-50 view-transition-[paneNavigation]">
  <div class="flex flex-col">
    <!-- tabs -->
    <div class="flex flex-col grow">
      @for (tab of tabs$ | async; track tab.id) {
        <a
          appBaseButton
          class="self-stretch flex items-center justify-center py-2 group"
          [routerLink]="tab.route"
          [relativeTo]="route"
          routerLinkActive
          #active="routerLinkActive"
        >
          @if (tab.title && tab.icon) {
            <div
              class="transition-[background-color,_border-radius] flex flex-col gap-1 px-1 justify-center items-center"
            >
              <div
                class="transition-[background-color,_border-radius,_width] h-8 flex items-center justify-center text-xl"
                [ngClass]="{
                  'bg-primary-700 w-12 aspect-video rounded-full material-icons': active.isActive,
                  'group-hover:bg-primary-700 group-focus-within:bg-primary-700 w-8 rounded material-icons-outlined': !active.isActive
                }"
              >
                {{ tab.icon }}
              </div>
              <span class="text-sm/tight">{{ tab.title }}</span>
            </div>
          } @else {
            <div
              class="transition-[background-color,_border-radius] uppercase aspect-square w-12 text-lg/none font-bold flex justify-center items-center"
              [ngClass]="{
                'bg-primary-700 rounded-2xl': active.isActive,
                'group-hover:bg-primary-900 group-focus-within:bg-primary-900 rounded-md': !active.isActive
              }"
            >
              @if (tab.title) {
                {{ tab.title | slice : 0 : 2 }}
              } @else if (tab.icon) {
                <i [ngClass]="{
                  'material-icons': active.isActive,
                  'material-icons-outlined': !active.isActive
                }">{{ tab.icon }}</i>
              }
            </div>
          }
        </a>
      }
    </div>
  </div>
</div>
