<phead-layered-container>
  <div
    pheadSidebarContainer
  >
    <div pheadSidebarBreadcrumbs>
      <phead-breadcrumbs></phead-breadcrumbs>
    </div>
    <phead-sidebar-content>
      <div
        *pheadSidebarMain
        pheadTabBarContainer
        class="flex flex-col gap-4 pe-6 py-6"
      >
        <div
          class="bg-hover text-primary-700 dark:text-primary-500 text-base font-medium me-4 border border-s-0 rounded-e-1 py-1 ps-4 pe-2 min-h-11 flex justify-between items-center gap-2"
        >
          <span>Database</span>
        </div>
        <demo-settings-database></demo-settings-database>
      </div>
    </phead-sidebar-content>
  </div>
</phead-layered-container>