<app-breadcrumbs></app-breadcrumbs>
<div class="max-w-screen-md p-2 flex flex-col">
  <div class="hero bg-primary-600 rounded-3xl px-6 py-5">
    <h1>Buttons</h1>
  </div>
  <p class="text-xl">Do duis dolore anim nisi incididunt cillum dolore laborum mollit irure adipisicing. Qui dolore anim occaecat veniam nostrud velit veniam deserunt duis. Sunt incididunt dolore eiusmod pariatur reprehenderit incididunt proident officia aute. Ipsum eu aliqua sint quis voluptate fugiat nisi ut sint esse enim eiusmod. Ex minim aliqua nisi adipisicing quis enim tempor eiusmod magna irure.

Ad amet occaecat fugiat sunt. Nisi aliquip sit id enim Lorem ut minim irure. Laboris sunt minim commodo Lorem quis duis in ullamco proident aliqua aliquip irure aliqua. Lorem ex laborum ut et ea consectetur officia elit qui veniam duis non sunt. Cillum do consequat amet magna dolor occaecat incididunt in eiusmod veniam ad dolor. Ex id est irure tempor minim labore eu excepteur dolor aliqua.

Incididunt duis aute anim sint cillum dolor voluptate. Ex commodo cillum consequat aliqua commodo officia aliqua anim pariatur exercitation. Officia laboris cupidatat fugiat cillum nostrud pariatur exercitation anim ut esse nulla consectetur. Officia nisi sunt aliquip aliqua consequat non. Mollit nulla ut quis consectetur officia et laboris commodo do duis elit. Minim nulla officia amet ex nostrud sint cillum sint Lorem. Ipsum occaecat laborum aliqua anim.

In minim incididunt reprehenderit eu voluptate proident nisi consequat nostrud ullamco Lorem magna. Sint aute anim velit et do reprehenderit anim est. In esse ipsum et enim deserunt. Fugiat aliquip dolor quis dolor eu sit aliquip enim nisi. Ut pariatur consectetur fugiat cillum. Incididunt mollit culpa consectetur excepteur labore. Elit nulla ipsum dolor dolor cillum adipisicing mollit ut aute veniam deserunt.

Voluptate mollit esse excepteur eu ullamco sint anim adipisicing. Commodo non occaecat mollit officia aute ipsum minim tempor ipsum minim sunt officia. Sint ullamco reprehenderit nulla exercitation ex officia cillum nisi labore ut proident.

Dolor in excepteur anim occaecat pariatur duis tempor exercitation incididunt labore. Ullamco occaecat do ut nulla irure reprehenderit sint ut ipsum mollit non et cillum. Duis proident exercitation velit qui mollit proident esse enim. Ullamco do incididunt cillum ea laboris tempor Lorem occaecat amet.

Ea dolore dolor elit aute veniam exercitation laboris tempor magna exercitation minim eu. Dolor est occaecat adipisicing consectetur sunt eiusmod voluptate elit consequat tempor occaecat incididunt dolore. Et occaecat eiusmod officia mollit ea. Tempor ut ullamco exercitation anim. Irure anim minim ea do. Qui eu aliqua ut ex sunt tempor. Sit magna duis nulla eiusmod dolore culpa non sint.

Ea dolore aliqua consequat cillum velit veniam incididunt anim. Consequat ut ullamco eu consequat adipisicing et amet ex fugiat commodo ipsum. Voluptate duis non mollit excepteur mollit mollit ea aute esse labore exercitation aliqua aliquip fugiat. Exercitation elit aliquip ex occaecat nisi sit eiusmod qui aute irure sit.

Laborum ipsum sunt proident aliqua. Consequat duis laborum tempor irure exercitation labore mollit irure commodo adipisicing nulla excepteur adipisicing. Qui tempor dolor consequat occaecat fugiat exercitation aute. Voluptate dolore incididunt labore esse id irure minim sit do ut deserunt velit. Voluptate sint officia sunt amet minim amet cupidatat sint duis. Est eu tempor labore id veniam sit aute culpa non adipisicing.

Elit magna dolor incididunt eu eiusmod. Nisi aute consequat et sit officia minim excepteur magna dolore cillum. Elit tempor excepteur sit exercitation in proident duis esse dolore culpa mollit. Aliquip culpa et in deserunt fugiat aliquip id excepteur. Eu ullamco ea officia pariatur sint aliqua. Pariatur adipisicing nisi culpa elit mollit. In proident ullamco cupidatat nostrud voluptate aliquip anim irure magna nisi incididunt tempor velit.</p>
</div>