<pui-layered-container>
  <div
    puiSidebarContainer
  >
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content>
      <div *puiSidebarMain class="flex flex-col p-6 gap-4">
        <h1 class="text-primary-800 dark:text-primary-200">Monster Hunter World Database</h1>
        <div class="flex mb-4 gap-6">
          <a puiHoverable class="flex items-start border rounded-1 overflow-hidden bg-neutral-50 dark:bg-neutral-950 min-h-40 p-4">
            <h2 class="text-primary-700 dark:text-primary-300">Skill<br/>Simulator</h2>
          </a>
          <a puiHoverable class="flex items-start border rounded-1 overflow-hidden bg-neutral-50 dark:bg-neutral-950 min-h-40 p-4">
            <h2 class="text-[#1c3954] dark:text-[#5faff6]">Iceborne<br/>Expansion</h2>
          </a>
        </div>
        <h3>Tables</h3>
        <div class="border rounded-1 overflow-hidden bg-neutral-50 dark:bg-neutral-950">
          @defer {
            <pui-table itemHeight="44" [columns]="['name', 'count']">
              <pui-table-header-cell *puiTableHeaderCellDef="'name'">
                Table
              </pui-table-header-cell>
              <pui-table-header-cell *puiTableHeaderCellDef="'count'">
                Records
              </pui-table-header-cell>
              <pui-table-cell *puiTableCellDef="'name'; let table">
                {{ table.name }}
              </pui-table-cell>
              <pui-table-cell *puiTableCellDef="'count'; let table">
                {{ table.count }}
              </pui-table-cell>

              <pui-table-body>
                <pui-table-header-row></pui-table-header-row>
                @for (table of tables$$(); track table.name) {
                  <pui-table-row [route]="table.route" [relativeTo]="route" [item]="table" puiHoverable>
                  </pui-table-row>
                }
              </pui-table-body>
            </pui-table>
          }
        </div>
      </div>
    </pui-sidebar-content>
  </div>
</pui-layered-container>