<phead-layered-container>
  <div
    pheadSidebarContainer
  >
    <div pheadSidebarBreadcrumbs>
      <phead-breadcrumbs></phead-breadcrumbs>
    </div>
    <phead-sidebar-content>
      <div *pheadSidebarMain class="flex flex-col p-6 gap-4">
        <h1 class="text-primary-800 dark:text-primary-200">Monster Hunter World Database</h1>
        <div class="flex mb-4 gap-6">
          <a pheadHoverable class="flex items-start border rounded-1 overflow-hidden bg-neutral-50 dark:bg-neutral-950 min-h-40 p-4">
            <h2 class="text-primary-700 dark:text-primary-300">Skill<br/>Simulator</h2>
          </a>
          <a pheadHoverable class="flex items-start border rounded-1 overflow-hidden bg-neutral-50 dark:bg-neutral-950 min-h-40 p-4">
            <h2 class="text-[#1c3954] dark:text-[#5faff6]">Iceborne<br/>Expansion</h2>
          </a>
        </div>
        <h3>Tables</h3>
        <div class="border rounded-1 overflow-hidden bg-neutral-50 dark:bg-neutral-950">
          @defer {
            <phead-table itemHeight="44" [columns]="['name', 'count']">
              <phead-table-header-cell *pheadTableHeaderCellDef="'name'">
                Table
              </phead-table-header-cell>
              <phead-table-header-cell *pheadTableHeaderCellDef="'count'">
                Records
              </phead-table-header-cell>
              <phead-table-cell *pheadTableCellDef="'name'; let table">
                {{ table.name }}
              </phead-table-cell>
              <phead-table-cell *pheadTableCellDef="'count'; let table">
                {{ table.count }}
              </phead-table-cell>

              <phead-table-body>
                <phead-table-header-row></phead-table-header-row>
                @for (table of tables$$(); track table.name) {
                  <phead-table-row [route]="table.route" [relativeTo]="route" [item]="table" pheadHoverable>
                  </phead-table-row>
                }
              </phead-table-body>
            </phead-table>
          }
        </div>
      </div>
    </phead-sidebar-content>
  </div>
</phead-layered-container>