@if (addressForm.pristine && basicInformationForm.pristine) {
  <app-breadcrumbs></app-breadcrumbs>
  <app-toolbar>
    <app-toolbar-button icon="refresh" title="Refresh"></app-toolbar-button>
  </app-toolbar>
} @else {
  <app-edit-toolbar>
    <app-toolbar-button icon="save" title="Save"></app-toolbar-button>
    <app-toolbar-button icon="cancel" title="Cancel" (toolbarClick)="onCancel()"></app-toolbar-button>
  </app-edit-toolbar>
}
<div class="fixed top-22 right-0">asada</div>
<div class="w-full max-w-screen-lg p-4 grid grid-cols-2 gap-x-6 gap-y-4">
  <a
    class="bg-primary-600 rounded-lg flex flex-col gap-1 px-6 py-4"
    appBaseButton
  >
    <span class="text-xl text-primary-200">Customer Information</span>
    <span class="text-5xl font-light font-display">John Appleseed</span>
  </a>
  <a class="bg-primary-700 rounded-lg px-6 py-4" appBaseButton>
    <div class="grid grid-cols-[max-content,_1fr] gap-x-2 gap-y-1">
      <span
        class="font-light text-primary-200 shrink-0 text-end justify-self-end"
        >ID</span
      >
      <span class="text-primary-50 shrink-0 truncate"
        >Nullanonadipisicingeuenimeuquiseu</span
      >
      <span
        class="font-light text-primary-200 shrink-0 text-end justify-self-end"
        >Last Login</span
      >
      <span class="text-primary-50 shrink-0 truncate">3 days ago</span>
      <span
        class="font-light text-primary-200 shrink-0 text-end justify-self-end"
        >Account Status</span
      >
      <span
        class="text-sm text-green-50 bg-green-600 shrink-0 truncate justify-self-start self-center px-3 rounded-lg"
        >Normal</span
      >
    </div>
  </a>
</div>
<div class="w-full max-w-screen-lg">
  <div appFormHeader>
    Basic Information
  </div>
  <dl appBaseForm [formGroup]="basicInformationForm">
    <dt appFormLabel>
      <p appFormLabelTitle>First Name</p>
    </dt>
    <dd appFormField [isDirty]="basicInformationForm.controls.firstName.dirty">
      <input formControlName="firstName" class="outline-none bg-transparent text-primary-50 px-4 py-2 w-full">
    </dd>
    <dt appFormLabel>
      <p appFormLabelTitle>Middle Name</p>
      <p appFormLabelDescription class="italic">(Optional)</p>
    </dt>
    <dd appFormField [isDirty]="basicInformationForm.controls.middleName.dirty">
      <input formControlName="middleName" class="outline-none bg-transparent text-primary-50 px-4 py-2 w-full">
    </dd>
    <dt appFormLabel>
      <p appFormLabelTitle>Last Name</p>
    </dt>
    <dd appFormField [isDirty]="basicInformationForm.controls.lastName.dirty">
      <input formControlName="lastName" class="outline-none bg-transparent text-primary-50 px-4 py-2 w-full">
    </dd>
    <dt appFormLabel>
      <p appFormLabelTitle>Gender</p>
    </dt>
    <dd appFormField [isDirty]="basicInformationForm.controls.gender.dirty">
      <app-radio-group class="w-full" formControlName="gender">
        <div *appRadioOption="'male'">Male</div>
        <div *appRadioOption="'female'">Female</div>
        <div *appRadioOption="'nonbinary'">Non-binary</div>
      </app-radio-group>
    </dd>
    <dt appFormLabel>
      <span appFormLabelTitle>Age Group</span>
    </dt>
    <dd appFormField [isDirty]="basicInformationForm.controls.ageGroup.dirty">
      <app-dropdown class="w-full grow px-4 py-2" formControlName="ageGroup">
        <div *appDropdownLabel="let value" [innerText]="value" class="text-primary-50"></div>
        <div *appDropdownOption="'lt18'">&lt; 18</div>
        <div *appDropdownOption="'1827'">18-27</div>
        <div *appDropdownOption="'2837'">28-37</div>
      </app-dropdown>
    </dd>
  </dl>
</div>

<div class="w-full max-w-screen-lg mt-4">
  <div appFormHeader>
    Address
  </div>
  <dl appBaseForm [formGroup]="addressForm">
    <dt appFormLabel>
      <p appFormLabelTitle>Default Address</p>
    </dt>
    <dd appFormField formGroupName="defaultAddress">
      <div class="w-full rounded-lg grid grid-cols-[max-content,_1fr] gap-x-2 gap-y-1 items-center px-4 py-2">
        <div class="text-primary-200 text-sm/none justify-self-end">Line 1</div>
        <input formControlName="line1" class="outline-none bg-transparent text-primary-50">
        <div class="text-primary-200 text-sm/none justify-self-end">Line 2</div>
        <input formControlName="line2" class="outline-none bg-transparent text-primary-50">
        <div class="text-primary-200 text-sm/none justify-self-end">City</div>
        <input formControlName="city" class="outline-none bg-transparent text-primary-50">
        <div class="text-primary-200 text-sm/none justify-self-end">Country</div>
        <input formControlName="country" class="outline-none bg-transparent text-primary-50">
      </div>
    </dd>
  </dl>
</div>

<div class="w-full max-w-screen-lg mt-4">
  <div appFormHeader>
    History
  </div>
  <div class="flex flex-col gap-1 pt-1">
    <div class="flex items-baseline gap-2 px-6 py-1">
      <span class="text-xs font-light text-primary-200">{{ recentHistory.timestamp | date: 'short' }}</span>
      <span class="text-sm text-primary-50">{{ recentHistory.message }}</span>
    </div>
    <a appBaseButton class="self-start inline-block text-sm px-4 py-0.5 mx-4 rounded bg-accent-900">See More</a>
  </div>
</div>