<core-sectioned-outlet>
  <div
    class="h-full overflow-x-hidden overflow-y-auto gutter-stable"
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div class="bg-glass min-h-full p-2">
      <div class="flex flex-col">
        <core-simple-header coreStickyHeader coreHoverable (bgClick)="onHeaderClick()">
          <h2 *coreHeader>Armor Set</h2>
          <ng-container *coreHeaderActions>
            <button #btn coreHoverable class="size-10 rounded-3" (click)="onNewClick(btn)">
              <i class="icon-8 font-variation-weight-extra-light">add</i>
            </button>
          </ng-container>
        </core-simple-header>
        <core-table
          itemHeight="48"
          [columns]="['name', 'rarity']"
        >
          <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
            <core-table-body>
              <core-table-header-row>
                <core-table-header-cell *coreTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
                  Name
                  <core-table-filter-by-text *coreTableHeaderCellFilter [value]="filterByName$$()" (valueChange)="onChangeFilter({ name: $event })"></core-table-filter-by-text>
                </core-table-header-cell>
                <core-table-header-cell *coreTableHeaderCellDef="'rarity'" [sortedAsc]="sortByRarity$$() === 'asc'" [sortedDesc]="sortByRarity$$() === 'desc'">
                  Rarity
                  <core-segmented-options *coreTableHeaderCellSort [value]="sortByRarity$$()" (valueChange)="onChangeSort(['rarity', $event])">
                    <div *coreOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
                    <div *coreOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
                  </core-segmented-options>
                </core-table-header-cell>
              </core-table-header-row>
              <core-table-row
                *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
                coreHoverable
                [route]="[item.id]"
              >
                <core-table-cell *coreTableCellDef="'name'">
                  <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
                </core-table-cell>
                <core-table-cell *coreTableCellDef="'rarity'">
                  <core-rating-display [value]="item.rarity"></core-rating-display>
                </core-table-cell>
              </core-table-row>
              <core-table-footer-row class="px-4 py-1">
                <core-table-simple-footer></core-table-simple-footer>
              </core-table-footer-row>
            </core-table-body>
          </cdk-virtual-scroll-viewport>
        </core-table>
      </div>
    </div>
  </div>
</core-sectioned-outlet>