<div class="flex items-center gap-1 py-2">
  <button pheadHoverable class="rounded-1 p-1" type="button" (click)="toggleCheckbox()">
    <i class="icon-5 text-secondary flex-none">{{
      item().isCompleted ? 'check_box' : 'check_box_outline_blank'
    }}</i>
  </button>
  <phead-input-field class="grow" borderless [ngClass]="{
    'line-through text-secondary': item().isCompleted,
  }">
    <textarea cdkTextareaAutosize placeholder="Item" [value]="item().description" (keydown)="onKeydown($event)" class="overflow-hidden"></textarea>
  </phead-input-field>
</div>