<div puiSidebarDrawerSection [class.bg-drawer-content]="trigger.isOpened$$()">
  <button
    puiSidebarDrawerSectionHeader
    puiHoverable
    role="button"
    type="button"
    puiAccordionTrigger
    #trigger="accordionTrigger"
    opened
    [ngClass]="{ '!text-primary-950 dark:!text-primary-50': !trigger.isOpened$$() }"
  >
    <i>add</i>
    <p>Insert New</p>
  </button>
  @if (trigger.isOpened$$()) {
    <form puiSidebarDrawerSectionContent (ngSubmit)="onSubmit()">
      <pui-fieldset [formControl]="formControl">
        <pui-field-def
          key="name>en"
          label="English Name"
          fieldType="string"
        ></pui-field-def>
        <pui-field-def
          key="name>jp"
          label="Japanese Name"
          fieldType="string"
        ></pui-field-def>
        <pui-field-def
          key="rarity"
          label="Rarity"
          fieldType="number"
          [fieldConfig]="{}"
        ></pui-field-def>
        <pui-field-def
          key="rank"
          label="Rank"
          fieldType="string"
          [fieldConfig]="{
            enum: ['base', 'iceborne']
          }"
        ></pui-field-def>
      </pui-fieldset>
      <button class="rounded-1 mx-1 py-2 text-sm text-primary-700 dark:text-primary-500" puiHoverable role="button" type="submit">Add</button>
    </form>
  }
</div>