<div class="flex flex-col px-4">
  <div class="flex py-3 gap-6 justify-between items-center">
    <div class="flex flex-col gap-px">
      <span class="font-bold tracking-tight text-primary-800 dark:text-primary-200">Export Database</span>
      <span class="font-light text-secondary">Download the database as one JSON file</span>
    </div>
    @if (downloadProgress$ | async; as progress) {
      @if (progress.totalRows! > 0) {
        <core-linear-progress-display
          class="h-6 max-w-120 my-0.5"
          [value]="progress.completedRows! * 100 / progress.totalRows!"
        ></core-linear-progress-display>
      }
    } @else {
      <button coreHoverable coreHardSurface color="primary" class="rounded-1 px-3 py-2" (click)="onDownloadClick()">Download</button>
    }
  </div>
  <core-divider></core-divider>
  <div class="flex py-3 gap-6 justify-between items-center">
    <div class="flex flex-col gap-px">
      <span class="font-bold tracking-tight text-primary-800 dark:text-primary-200">Import Database</span>
      <span class="font-light text-secondary">Upload a JSON file</span>
    </div>
    @if (uploadProgress$ | async; as progress) {
      @if (progress.totalRows! > 0) {
        <core-linear-progress-display
          class="h-6 max-w-120 my-0.5"
          [value]="progress.completedRows! * 100 / progress.totalRows!"
        ></core-linear-progress-display>
      }
    } @else {
      <button coreHoverable coreHardSurface color="primary" class="rounded-1 px-3 py-2" (click)="onUploadClick()">Upload</button>
    }
  </div>
  <core-divider></core-divider>
  <div class="flex py-3 gap-6 justify-between items-center">
    <div class="flex flex-col gap-px">
      <span class="font-bold tracking-tight text-primary-800 dark:text-primary-200">Database Size</span>
    </div>
    <div class="flex gap-4 items-center">
      @if (bytesUsed$$?.(); as bytesUsed) {
        <span class="font-bold">{{ (bytesUsed.used ?? 0) / 1024 | number: '1.2-2' }} <span class="text-secondary text-sm font-normal">KB</span></span>
      }
      <button coreHoverable coreHardSurface color="red" class="rounded-1 px-3 py-2" (click)="onDeleteAllClick()">Delete All</button>
    </div>
  </div>
</div>