<core-sectioned-outlet>
  <div
    coreSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div coreSidebarBreadcrumbs>
      <core-breadcrumbs></core-breadcrumbs>
    </div>
    <core-sidebar-content>
      <core-table
        *coreSidebarMain
        itemHeight="48"
        [columns]="['color', 'name']"
      >
        <core-table-header-cell *coreTableHeaderCellDef="'color'"></core-table-header-cell>
        <core-table-header-cell *coreTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
          Name
          <core-table-filter-by-text *coreTableHeaderCellFilter [value]="filterByName$$()" (valueChange)="onChangeFilter({ name: $event })"></core-table-filter-by-text>
        </core-table-header-cell>

        <core-table-cell *coreTableCellDef="'color'; let item">
          <div class="hexagon-mask size-6" [style.background-color]="item.color"></div>
        </core-table-cell>
        <core-table-cell *coreTableCellDef="'name'; let item">
          <core-multilingual-text-display [value]="item.name"></core-multilingual-text-display>
        </core-table-cell>

        <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
          <core-table-body style="grid-template-columns: min-content 1fr;">
            <core-table-header-row>
            </core-table-header-row>
            <core-table-row
              *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
              coreHoverable
              [route]="[item.id]"
              [item]="item"
            >
            </core-table-row>
            @if (data$ | async; as data) {
              <core-table-footer-row class="px-4 py-1">
                <core-table-simple-footer [dataCount]="data.length"></core-table-simple-footer>
              </core-table-footer-row>
            } @else {
              <mhw-loading-footer></mhw-loading-footer>
            }
          </core-table-body>
        </cdk-virtual-scroll-viewport>
      </core-table>
      <core-accordion>
        <mhw-skill-list-drawer-create *coreSidebarDrawer></mhw-skill-list-drawer-create>
      </core-accordion>
    </core-sidebar-content>
  </div>
</core-sectioned-outlet>