<div puiSidebarDrawerSection [class.bg-drawer-content]="trigger.isOpened$$()">
  <button
    puiSidebarDrawerSectionHeader
    puiHoverable
    role="button"
    type="button"
    puiAccordionTrigger
    #trigger="accordionTrigger"
    opened
    [ngClass]="{ '!text-primary-950 dark:!text-primary-50': !trigger.isOpened$$() }"
  >
    <i>info</i>
    <p>About</p>
  </button>
  @if (trigger.isOpened$$()) {
    <div puiSidebarDrawerSectionContent>
      <div class="flex flex-col px-3 pb-3 gap-2">
        <p class="text-sm font-medium tracking-tighter text-accent-800 dark:text-accent-200">Last updated</p>
        @if (armor) {
          <pui-time-display [date]="armor.updatedAt" [format]="'YYYY MMM dd, HH:mm'"></pui-time-display>
        }
        <p class="text-sm font-medium tracking-tighter text-accent-800 dark:text-accent-200">Created at</p>
        @if (armor) {
          <pui-time-display [date]="armor.createdAt" [format]="'YYYY MMM dd, HH:mm'"></pui-time-display>
        }
      </div>
      <a puiHoverable class="rounded-1 mx-1 py-2 text-sm text-primary-700 dark:text-primary-500" [routerLink]="['edit']">Edit Details</a>
    </div>
  }
</div>