<phead-layered-container>
  <div
    pheadSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div pheadSidebarBreadcrumbs>
      <phead-breadcrumbs></phead-breadcrumbs>
    </div>
    <phead-sidebar-content>
      <phead-table
        *pheadSidebarMain
        itemHeight="48"
        [columns]="['name', 'armorSetId', 'createdAt']"
        [columnWidths]="['50%', '30%', '1fr']"
      >
        <phead-table-header-cell *pheadTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
          Name
          <phead-table-filter-by-text *pheadTableHeaderCellFilter [value]="filterByName$$()" (valueChange)="onChangeFilter({ name: $event })"></phead-table-filter-by-text>
        </phead-table-header-cell>
        <phead-table-header-cell *pheadTableHeaderCellDef="'armorSetId'" [filtered]="filterByArmorSet$$() != null" [sortedAsc]="sortByArmorSet$$() === 'asc'" [sortedDesc]="sortByArmorSet$$() === 'desc'">
          Armor Set
          <phead-segmented-options *pheadTableHeaderCellSort [value]="sortByArmorSet$$()" (valueChange)="onChangeSort(['armorSetId', $event])" color="accent">
            <div *pheadOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
            <div *pheadOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
          </phead-segmented-options>
          <phead-table-filter-by-search
            *pheadTableHeaderCellFilter
            [value]="filterByArmorSet$$()"
            (valueChange)="onChangeFilter({ armorSetId: $event })"
            sourceName="armorSet"
            [pickWith]="pickArmorSet"
          >
            <div *pheadSearchInputLabel="let id">
              <!-- TODO -->
              {{ id }}
              <!-- @if (id | armorSetData | async; as data) {
              } @else {
                <span>Unable to resolve</span>
              } -->
            </div>
            <div *pheadSearchInputSuggestionItem="let item" class="px-4 py-0.5 truncate">
              {{ item.name?.jp }} / {{ item.name?.en }}
            </div>
          </phead-table-filter-by-search>
        </phead-table-header-cell>
        <phead-table-header-cell *pheadTableHeaderCellDef="'createdAt'" rightAligned [sortedAsc]="sortByCreatedAt$$() === 'asc'" [sortedDesc]="sortByCreatedAt$$() === 'desc'">
          Created
          <phead-segmented-options *pheadTableHeaderCellSort [value]="sortByCreatedAt$$()" (valueChange)="onChangeSort(['createdAt', $event])" color="accent">
            <div *pheadOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
            <div *pheadOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
          </phead-segmented-options>
        </phead-table-header-cell>

        <phead-table-cell *pheadTableCellDef="'name'; let item">
          {{ item.name?.jp }} / {{ item.name?.en }}
        </phead-table-cell>
        <phead-table-cell *pheadTableCellDef="'armorSetId'; let item">
          {{ item.armorSetId }}
          <!-- @if (item.armorSetId | armorSetData | async; as armorSet) {
            <phead-multilingual-text-display [value]="armorSet.name"></phead-multilingual-text-display>
          } -->
        </phead-table-cell>
        <phead-table-cell *pheadTableCellDef="'createdAt'; let item">
          <phead-time-display [date]="item.createdAt" format="yyyy-MM-dd HH:mm"></phead-time-display>
        </phead-table-cell>

        <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
          <phead-table-body>
            <phead-table-header-row>
            </phead-table-header-row>
            <phead-table-row
              *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
              pheadHoverable
              [route]="[item.id]"
              [item]="item"
            >
            </phead-table-row>
            @if (data$ | async; as data) {
              <phead-table-footer-row class="px-4 py-1">
                <phead-table-simple-footer [dataCount]="data.length"></phead-table-simple-footer>
              </phead-table-footer-row>
            } @else {
              <mhw-loading-footer></mhw-loading-footer>
            }
          </phead-table-body>
        </cdk-virtual-scroll-viewport>
      </phead-table>
      <mhw-armor-list-drawer-create *pheadSidebarDrawer></mhw-armor-list-drawer-create>
    </phead-sidebar-content>
  </div>
</phead-layered-container>