<pui-layered-container>
  <div
    puiSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div puiSidebarBreadcrumbs>
      <pui-breadcrumbs></pui-breadcrumbs>
    </div>
    <pui-sidebar-content>
      <pui-table
        *puiSidebarMain
        itemHeight="48"
        [columns]="['name', 'armorSetId', 'createdAt']"
        [columnWidths]="['50%', '30%', '1fr']"
      >
        <pui-table-header-cell *puiTableHeaderCellDef="'name'" [filtered]="filterByName$$() != null">
          Name
          <div *puiTableHeaderCellFilter cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
            <pui-input-field>
              <input
                type="search"
                placeholder="Type to search"
                [value]="filterByName$$() ?? ''"
                (input)="onChangeFilter({ name: $any($event.currentTarget).value })">
            </pui-input-field>
          </div>
        </pui-table-header-cell>
        <pui-table-header-cell *puiTableHeaderCellDef="'armorSetId'" [filtered]="filterByArmorSet$$() != null" [sortedAsc]="sortByArmorSet$$() === 'asc'" [sortedDesc]="sortByArmorSet$$() === 'desc'">
          Armor Set
          <pui-segmented-options *puiTableHeaderCellSort [value]="sortByArmorSet$$()" (valueChange)="onChangeSort(['armorSetId', $event])" color="accent">
            <div *puiOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
            <div *puiOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
          </pui-segmented-options>
          <pui-dropdown *puiTableHeaderCellFilter [value]="filterByArmorSet$$()" (valueChange)="onChangeFilter({ armorSetId: $event })">
            <div *puiDropdownTrigger="let value" [ngClass]="{ 'text-secondary': !value }">{{ value ? value : 'Type to search' }}</div>
            <pui-search-dropdown *puiDropdownOverlay>
              <demo-armor-set-search [canUnset]="true"></demo-armor-set-search>
            </pui-search-dropdown>
          </pui-dropdown>
        </pui-table-header-cell>
        <pui-table-header-cell *puiTableHeaderCellDef="'createdAt'" rightAligned [sortedAsc]="sortByCreatedAt$$() === 'asc'" [sortedDesc]="sortByCreatedAt$$() === 'desc'">
          Created
          <pui-segmented-options *puiTableHeaderCellSort [value]="sortByCreatedAt$$()" (valueChange)="onChangeSort(['createdAt', $event])" color="accent">
            <div *puiOption="'asc'" class="flex items-center gap-1"><i class="icon-4 rotate-180 -scale-x-100">sort</i><span class="text-sm/[0] font-bold">1 to 9</span></div>
            <div *puiOption="'desc'" class="flex items-center gap-1"><i class="icon-4">sort</i><span class="text-sm/[0] font-bold">9 to 1</span></div>
          </pui-segmented-options>
        </pui-table-header-cell>

        <pui-table-cell *puiTableCellDef="'name'; let item">
          {{ item.name?.jp }} / {{ item.name?.en }}
        </pui-table-cell>
        <pui-table-cell *puiTableCellDef="'armorSetId'; let item">
          {{ item.armorSetId }}
        </pui-table-cell>
        <pui-table-cell *puiTableCellDef="'createdAt'; let item">
          <pui-time-display [date]="item.createdAt" format="yyyy-MM-dd HH:mm"></pui-time-display>
        </pui-table-cell>

        <cdk-virtual-scroll-viewport itemSize [extraHeight]="48 * 2">
          <pui-table-body>
            <pui-table-header-row>
            </pui-table-header-row>
            <pui-table-row
              *cdkVirtualFor="let item of data$ | async; trackBy: trackingFn"
              puiHoverable
              [route]="[item.id]"
              [item]="item"
            >
            </pui-table-row>
            <pui-table-footer-row class="px-4 py-1">
              <pui-table-simple-footer></pui-table-simple-footer>
            </pui-table-footer-row>
          </pui-table-body>
        </cdk-virtual-scroll-viewport>
      </pui-table>
      <mhw-armor-list-drawer-create *puiSidebarDrawer></mhw-armor-list-drawer-create>
    </pui-sidebar-content>
  </div>
</pui-layered-container>