@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app/components/components.scss';
@import './app/library/library.scss';

*, *::before, *::after {
  @apply border-black/10;
}
:where(.dark *), :where(.dark *::before), :where(.dark *::after) {
  @apply border-white/10;
}

:root {
  --color-hover: 0 0 0;
  --color-hover-opacity: 0.05;
}

:root.dark {
  --color-hover: 255 255 255;
  --color-hover-opacity: 0.05;
  color-scheme: dark;
}

// TODO check for windows/linux
@media (hover: hover) {
  ::-webkit-scrollbar {
    background: hsl(0, 0%, 15%);
    width: 0.625rem;
    height: 0.625rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    box-shadow: inset 0 0 0 10rem hsl(0, 0%, 35%);
    border: 0.1875rem solid transparent;
    min-height: 3rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 9998px;
    box-shadow: inset 0 0 0 10px hsl(0, 0%, 55%);
  }
  ::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 0 10px hsl(0, 0%, 75%);
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}