<phead-form-fieldset [formGroup]="formGroup">
  <phead-form-field>
    <div *pheadFormFieldInput class="flex justify-end px-2">
      <button class="rounded-full p-1.5 justify-end" pheadHoverable (click)="removeSkill.emit()">
        <i class="icon-4">delete</i>
      </button>
    </div>
  </phead-form-field>
  <phead-form-field>
    <div *pheadFormFieldLabel>Skill</div>
    <phead-search-input
      *pheadFormFieldInput
      sourceName="skill"
      [pickWith]="pickSkill"
      class="ps-4 pe-2 py-2"
      pheadHoverable
      formControlName="skillId"
    >
      <div *pheadSearchInputLabel="let id">
        @if (id | skillData | async; as data) {
          <phead-multilingual-text-display [value]="data.name"></phead-multilingual-text-display>
        } @else {
          <!-- TODO -->
          <span>Unable to resolve</span>
        }
      </div>
      <div *pheadSearchInputSuggestionItem="let skill" class="px-4 py-0.5 truncate">
        <phead-multilingual-text-display [value]="skill.name"></phead-multilingual-text-display>
      </div>
    </phead-search-input>
  </phead-form-field>
  <phead-form-field>
    <div *pheadFormFieldLabel>Level</div>
    <input *pheadFormFieldInput pheadInputField type="number" formControlName="levels" class="px-4 py-2">
  </phead-form-field>
</phead-form-fieldset>