@use './layout-control.css';

.pui-editable-content {
  @apply contents;
  > main {
    @apply pb-4 w-full h-full grow;
    // no need to use container query to change the styling
    @apply lg:pui-card lg:rounded-4 lg:p-8;
  }
}