@import './layout-control.css';

@utility pui-editable-content {
  @apply contents;
  > main {
    @apply pb-4 w-full h-full grow;
  }

  @variant lg {
    > main {
      /* no need to use container query to change the styling */
      @apply pui-card rounded-4 p-8;
    }
  }
}