@utility pui-root-sidenav {
  @apply fixed inset-0 bg-gradient-to-b from-primary-900 to-primary-800 z-0 flex flex-col;
  @apply lg:w-80 lg:border-r lg:bg-none;
}

@utility pui-root-sidenav__header {
  @apply flex items-center px-6 py-4 flex-none;
  @apply lg:pt-12;
  .spacer {
    @apply grow shrink-0 basis-auto;
    @apply lg:hidden;
  }
}

@utility pui-root-sidenav__header__hamburger {
  @apply rounded-full p-2;
  @apply lg:hidden;
  > i {
    @apply icon-6;
  }
}

@utility pui-root-sidenav__nav-wrapper {
  @apply w-[80%] grow flex flex-col gap-6 overflow-hidden;
  @apply lg:w-full;
}

@utility pui-root-sidenav__nav {
  @apply max-w-screen-xs w-full grow flex flex-col overflow-y-auto;
  @apply lg:max-w-[unset];
}

@utility pui-root-sidenav__content-wrapper {
  @apply lg:contents;
  @apply max-lg:mt-18 max-lg:h-px max-lg:min-h-full max-lg:overflow-x-clip;
}

@utility pui-root-sidenav__content {
  @apply min-h-full;
  @apply lg:ml-80 lg:h-full;
  @apply max-lg:transition-[left] max-lg:duration-[250ms];
  /** the background */
  @apply max-lg:relative;
  @apply max-lg:before:absolute max-lg:before:z-0 max-lg:before:inset-0 max-lg:before:rounded-t-4 max-lg:before:bg-neutral-900 max-lg:before:shadow-[-4px_-3px_5px_rgb(0_0_0_/_0.2)];
  @apply max-lg:after:absolute max-lg:after:z-[1000] max-lg:after:inset-0 max-lg:after:transition-[backdrop-filter] max-lg:after:pointer-events-none;

  &[data-sidenav=visible] {
    @apply max-lg:left-[30rem];
    @apply max-[600px]:left-[80%];
    @apply max-lg:after:rounded-t-4 max-lg:after:bg-black/5 max-lg:after:backdrop-blur-[2px] max-lg:after:pointer-events-auto;
  }
  &[data-sidenav=hidden] {
    @apply max-lg:left-0;
  }
}