@import './peekable-addon.css';

@utility pui-vertical-layout {
  @apply contents;
  > div {
    container-type: inline-size;
    container-name: layout;
  }
  > div > div {
    @apply relative;
    @apply flex flex-col min-h-full gap-6 pb-8 @screen-sm/layout:px-8;
  }
  router-outlet {
    @apply hidden;
  }
}

@utility pui-vertical-layout__heading {
  @apply pt-12 px-6;
  @apply @screen-sm/layout:px-2;
  @apply flex flex-col;
  h1 {
    @apply pt-1 truncate;
  }
  .pui-breadcrumbs {
    @apply -ms-2.5;
  }
}

@utility pui-vertical-layout__heading--floating {
  @apply fixed top-0 z-50 pt-6 @screen-sm/layout:-ms-8 w-[100cqw];
  @apply flex flex-row gap-12;
  @apply pt-12 px-6;
  @apply @screen-sm/layout:px-10;
  @apply pb-4;
  @apply @screen-sm/layout:pb-6;
  @apply bg-linear-to-b dark:from-neutral-700 dark:to-neutral-800 dark:to-90% border-b dark:border-neutral-950 shadow-lg;

  .pui-peekable-addon__content & {
    @apply pt-18;
  }
  h1 {
    @apply pt-1 truncate;
  }
  .pui-breadcrumbs {
    @apply -ms-2.5;
  }
}

@utility pui-vertical-layout__navigation {
  @apply grow;
}

@utility pui-vertical-layout__controls {
  @apply flex flex-row items-center gap-4 px-4 @screen-sm/layout:px-0;
  .spacer {
    @apply grow shrink-0 basis-auto;
  }
  .pui-tab-bar-tabs {
    @apply flex-wrap;
  }
  .pui-vertical-layout__tabs__tab {
    @apply px-4 py-2 -mx-4 -my-2;
  }
}

@utility pui-vertical-layout__toolbar {
  @apply flex items-center gap-2;
  .pui-vertical-layout__heading--floating & {
    @apply absolute bottom-4 right-4;
    @apply @screen-sm/layout:bottom-6 @screen-sm/layout:right-6;
  }
}

@utility pui-vertical-layout__toolbar__most-emphasized {
  @apply rounded-full h-10 gap-1 px-4;
  > i {
    @apply icon-5;
  }
  > span {
    @apply font-medium truncate;
  }
}

@utility pui-vertical-layout__toolbar__normal {
  @apply rounded-full size-10;
  &.pui-filled-button[data-color=accent] {
    @apply dark:bg-transparent shadow-none;
  }
  > i {
    @apply icon-5;
  }
  > span {
    @apply hidden;
  }
}