<div coreSidebarDrawerSection [class.bg-side-content]="trigger.isOpened$$()">
  <button
    coreSidebarDrawerSectionHeader
    coreHoverable
    role="button"
    type="button"
    coreAccordionTrigger
    #trigger="accordionTrigger"
    [ngClass]="{ '!text-primary-950 dark:!text-primary-50': !trigger.isOpened$$() }"
  >
    <i>exposure_plus_1</i>
    <p>Add Level</p>
  </button>
  @if (trigger.isOpened$$()) {
    <form coreSidebarDrawerSectionContent (ngSubmit)="onSubmit()">
      <core-fieldset [formControl]="formControl">
        <core-field-def
          coreFieldDef="description>en"
          coreFieldDefLabel="English Description"
          coreFieldType="string"
        ></core-field-def>
        <core-field-def
          coreFieldDef="description>jp"
          coreFieldDefLabel="Japanese Description"
          coreFieldType="string"
        ></core-field-def>
        <core-field-def
          coreFieldDef="level"
          coreFieldDefLabel="Level"
          coreFieldType="number"
        ></core-field-def>
        <core-field-def
          coreFieldDef="isLocked"
          coreFieldDefLabel="Locked"
          coreFieldType="boolean"
        ></core-field-def>
        <core-field-def
          coreFieldDef="duration"
          coreFieldDefLabel="Duration (s)"
          coreFieldType="number"
        ></core-field-def>
      </core-fieldset>
      <core-divider></core-divider>
      <div class="ps-3 pe-2 py-1 flex gap-2">
        <core-segmented-options color="primary" class="grow" [formControl]="effectType">
          <i class="icon-4 font-variation-fill" *coreOption="'attack'">swords</i>
          <i class="icon-4" *coreOption="'affinity'">stat_3</i>
          <i class="icon-4 font-variation-fill text-transparent bg-gradient-conic elemental-gradient bg-clip-text" *coreOption="'elementalAttack'">swords</i>
          <i class="icon-4" *coreOption="'defense'">shield</i>
          <i class="icon-4 font-variation-fill text-transparent bg-gradient-conic elemental-gradient bg-clip-text" *coreOption="'resistance'">shield</i>
        </core-segmented-options>
        <button coreHoverable class="px-2 rounded-1 text-primary-700 dark:text-primary-500 flex-none" [disabled]="effectType.value == null" (click)="addEffect()">
          <i class="icon-5">add</i>
        </button>
      </div>
      @for (effect of formControl.value?.effects; track $index) {
        <core-divider></core-divider>
        @switch (effect.type) {
          @case ('attack') {
            <div class="px-3 pt-2 flex gap-1 items-center"><i class="icon-4 font-variation-fill">swords</i><span class="text-primary-800 dark:text-primary-200">Increase Attack</span></div>
            <core-fieldset [formControl]="formControl">
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>calculationType'"
                coreFieldType="string"
                coreFieldDefLabel="Type"
                [fieldConfig]="{
                  enum: ['additive', 'multiplicative']
                }"
              ></core-field-def>
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>value'"
                coreFieldType="number"
                coreFieldDefLabel="Value"
              ></core-field-def>
            </core-fieldset>
          }
          @case ('affinity') {
            <div class="px-3 pt-2 flex gap-1 items-center"><i class="icon-4">stat_3</i><span class="text-primary-800 dark:text-primary-200">Increase Affinity</span></div>
            <core-fieldset [formControl]="formControl">
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>calculationType'"
                coreFieldType="string"
                coreFieldDefLabel="Type"
                [fieldConfig]="{
                  enum: ['additive', 'multiplicative']
                }"
              ></core-field-def>
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>value'"
                coreFieldType="number"
                coreFieldDefLabel="Value"
              ></core-field-def>
            </core-fieldset>
          }
          @case ('elementalAttack') {
            <div class="px-3 pt-2 flex gap-1 items-center"><i class="icon-4 font-variation-fill text-transparent bg-gradient-conic elemental-gradient bg-clip-text">swords</i><span class="text-primary-800 dark:text-primary-200">Increase Elemental Damage</span></div>
            <core-fieldset [formControl]="formControl">
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>calculationType'"
                coreFieldType="string"
                coreFieldDefLabel="Type"
                [fieldConfig]="{
                  enum: ['additive', 'multiplicative']
                }"
              ></core-field-def>
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>value'"
                coreFieldType="number"
                coreFieldDefLabel="Value"
              ></core-field-def>
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>element'"
                coreFieldType="string"
                coreFieldDefLabel="Element"
                [fieldConfig]="{
                  enum: ['fire', 'water', 'thunder', 'ice', 'dragon']
                }"
              ></core-field-def>
            </core-fieldset>
          }
          @case ('defense') {
            <div class="px-3 pt-2 flex gap-1 items-center"><i class="icon-4">shield</i><span class="text-primary-800 dark:text-primary-200">Increase Defense</span></div>
            <core-fieldset [formControl]="formControl">
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>calculationType'"
                coreFieldType="string"
                coreFieldDefLabel="Type"
                [fieldConfig]="{
                  enum: ['additive', 'multiplicative']
                }"
              ></core-field-def>
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>value'"
                coreFieldType="number"
                coreFieldDefLabel="Value"
              ></core-field-def>
            </core-fieldset>
          }
          @case ('resistance') {
            <div class="px-3 pt-2 flex gap-1 items-center"><i class="icon-4 font-variation-fill text-transparent bg-gradient-conic elemental-gradient bg-clip-text">shield</i><span class="text-primary-800 dark:text-primary-200">Increase Elemental Resistance</span></div>
            <core-fieldset [formControl]="formControl">
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>calculationType'"
                coreFieldType="string"
                coreFieldDefLabel="Type"
                [fieldConfig]="{
                  enum: ['additive', 'multiplicative']
                }"
              ></core-field-def>
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>value'"
                coreFieldType="number"
                coreFieldDefLabel="Value"
              ></core-field-def>
              <core-field-def
                [coreFieldDef]="'effects>' + $index + '>element'"
                coreFieldType="string"
                coreFieldDefLabel="Element"
                [fieldConfig]="{
                  enum: ['fire', 'water', 'thunder', 'ice', 'dragon']
                }"
              ></core-field-def>
            </core-fieldset>
          }
        }
      }
      <button coreHoverable class="rounded-1 mx-1 py-2 text-sm text-primary-700 dark:text-primary-500" type="submit">Add</button>
    </form>
  }
</div>