<core-sectioned-outlet>
  <div
    coreSidebarContainer
    cdkVirtualScrollingElement
    cdkScrollable
  >
    <div coreSidebarBreadcrumbs>
      <core-breadcrumbs></core-breadcrumbs>
    </div>
    <core-sidebar-content>
      <div *coreSidebarMain class="flex flex-col gap-4 pt-4">
        <div class="grid grid-cols-[min-content,1fr] gap-x-4 px-2">
          @if (data$ | async; as data) {
            @for (effect of data.effects; track effect.requiredNumberOfParts) {
              <a
                [routerLink]="['skill', effect.skillId]"
                coreHoverable
                class="grid grid-cols-subgrid col-span-2 -mx-4 px-4 py-3 border-b last:border-b-0">
                <mhw-set-bonus-effect [setBonusEffect]="effect"></mhw-set-bonus-effect>
              </a>
            }
          }
        </div>
      </div>
    </core-sidebar-content>
  </div>
</core-sectioned-outlet>